<h1>Listing phone_directories</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phone_directories.each do |phone_directory| %>
  <tr>
    <td><%= phone_directory.account %></td>
    <td><%= phone_directory.name %></td>
    <td><%= phone_directory.description %></td>
    <td><%= link_to 'Show', phone_directory %></td>
    <td><%= link_to 'Edit', edit_phone_directory_path(phone_directory) %></td>
    <td><%= link_to 'Destroy', phone_directory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phone directory', new_phone_directory_path %>
