/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :phone_directories )
        Directories
        %small all directories

/ Page body
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th Directory
          %th Phone numbers
          %th Appliances
          %th
      %tbody
        - @phone_directories.each do |phone_directory|
          %tr
            %td= link_to phone_directory.label, phone_directory, { 'rel'=>'tooltip', 'data-original-title'=>phone_directory.description || 'No description' }
            %td= phone_directory.phone_directory_entries.count
            %td= phone_directory.appliances.count
            %td= dropdown_list( 'Manage', [ |
                { label: 'Details', icon: :show, link: phone_directory }, |
                { label: 'Edit', icon: :edit, link: edit_phone_directory_path(phone_directory) }, |
                { label: 'Delete', icon: :delete, link: phone_directory, options: { method: :delete, data: { confirm: 'Are you sure?' } } } |
              ]) |

    %div= link_to 'New Directory', new_phone_directory_path, :class => 'btn btn-success'
