.row
  .span12
    .page-header
      %h1
        = icon( :phone_directories )
        Directories
        %small= @phone_directory.label

.row
  .span3
    = render 'navlist'
  .span9
    %p.well
      - if @phone_directory.description.nil?
        %em No description configured.
      - else
        = @phone_directory.description

    %h4 phone numbers
    %table.table.table-striped
      %thead
        %tr
          %th.span1
          %th Number
          %th Country
      %tbody
        - if @phone_directory.phone_directory_entries.empty?
          %tr
            %td{colspan: 3}
              %em No phone numbers are used by this directory.
        
        - @phone_directory.phone_directory_entries( order: 'country desc, number' ).each do |entry|
          %tr
            %td= split_dropdown_list([ |
              { label: 'Details', icon: :show, link: entry.phone_number, if: can?(:show, entry.phone_number) }, |
              { label: 'Remove from directory', icon: :delete, link: entry, options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, entry) } |
              ], {class:'btn-mini'}) |
            %td= link_to_if can?(:show, entry.phone_number), humanize_phone_number(entry.phone_number.number), entry.phone_number
            %td
              - if entry.country.blank?
                = flag_icon()
                %em Any
              - else
                = flag_icon(entry.county)
                = entry.country

    -# %div= link_to 'Link a phone number', new_phone_directory_phone_number_entry_path( @phone_directory ), :class => 'btn btn-success'
            

    %h4 stencils using this directory
    %table.table.table-striped
      %thead
        %tr
          %th.span1
          %th Stencil
      %tbody
        - if @phone_directory.stencils.empty?
          %tr
            %td{colspan: 2}
              %em No stencils use this directory.

        - @phone_directory.stencils.each do |stencil|
          %tr
            %td= split_dropdown_list([ |
                { label: 'Details', icon: :show, link: stencil, if: can?(:show, stencil) }, |
                { label: 'Edit', icon: :edit, link: edit_stencil_path(stencil), if: can?(:edit, stencil) }, |
                { label: 'Delete', icon: :delete, link: stencil, options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, stencil) }, |
                { label: 'Tickets', icon: :tickets, link: stencil_tickets_path(stencil), if: can?(:show, Ticket) } |
                ], { class: "btn-mini"} ) |
            %td= link_to_if can?(:show, stencil), stencil.label, stencil
