<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @phone_directory.account %>
</p>

<p>
  <b>Name:</b>
  <%= @phone_directory.name %>
</p>

<p>
  <b>Description:</b>
  <%= @phone_directory.description %>
</p>


<%= link_to 'Edit', edit_phone_directory_path(@phone_directory) %> |
<%= link_to 'Back', phone_directories_path %>
