= form_for @team do |f|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg

  - if policy(@team).edit_details?
    .well.well-sm.form-sm
      %fieldset
        %legend Details
        .form-group
          = f.label :name, class: 'control-label'
          = f.text_field :name, class: 'form-control'
      
        .form-group
          = f.label :description, class: 'control-label'
          = f.text_area :description, class: 'form-control'

  - if policy(@team).edit_billing_address?
    .well.well-sm.form-sm
      %fieldset
        %legend Billing Address
        -#
          .form-group
            = f.label :name, class: 'control-label'
            = f.text_field :name, class: 'form-control'
        
          .form-group
            = f.label :description, class: 'control-label'
            = f.text_area :description, class: 'form-control'

  .well.well-sm.form-sm
    .form-group
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Cancel', teams_path, class: 'btn btn-default'
