- cache teams do
  %table.table
    %thead
      %tr
        %th Name
        %th Active
        %th Owner
        %th Description

        %th= icon(:conversations)
        %th= icon(:phone_numbers)
        %th= icon(:phone_books)
        %th= icon(:stencils)
        %th= icon(:invoices)

        %th
    %tbody
      = render(partial: 'teams/team', collection: teams) || render('teams_empty')
