- content_for :table_header do
  .row
    .span12
      = filter_dropdown_list()
      - if can? :new, Appliance      
        .pull-right= link_to 'New Appliance', new_appliance_path, :class => 'btn btn-success btn-small'

.row
  .span12
    .page-header
      %h1
        = icon(:appliances)
        Appliances
        %small all appliances

= yield :table_header

.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th Appliance
          %th Directory
          %th Active
          %th Description
          %th Open tickets
          %th
      %tbody
        - if @appliances.empty?
          %tr
            %td{ colspan: 6 }
              %em No appliances match your selected filters. Please change your filters to view other items.
        
        - @appliances.each do |appliance|
          %tr
            %td= link_to appliance.label, appliance
            %td= link_to appliance.phone_directory.label, appliance.phone_directory
            %td= icon( appliance.active ? :ok : :remove )
            %td
              - if appliance.description.blank?
                %em No description defined.
              - else
                = appliance.description
            %td= appliance.tickets.count
            %td
              .btn-group= dropdown_list( 'Manage', [ |
                { label: 'Details', icon: :show, link: appliance, if: can?(:show, appliance) }, |
                { label: 'Edit', icon: :edit, link: edit_appliance_path(appliance), if: can?(:edit, appliance) }, |
                { label: 'Delete', icon: :delete, link: appliance, options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, appliance) } |
                ]) |

= yield :table_header
