<h1>Listing appliances</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Phone directory</th>
    <th>Seconds to live</th>
    <th>Encrypted question</th>
    <th>Encrypted expected confirmed answer</th>
    <th>Encrypted expected denied answer</th>
    <th>Encrypted confirmed reply</th>
    <th>Encrypted denied reply</th>
    <th>Encrypted failed reply</th>
    <th>Encrypted expired reply</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appliances.each do |appliance| %>
  <tr>
    <td><%= appliance.account %></td>
    <td><%= appliance.phone_directory %></td>
    <td><%= appliance.seconds_to_live %></td>
    <td><%= appliance.encrypted_question %></td>
    <td><%= appliance.encrypted_expected_confirmed_answer %></td>
    <td><%= appliance.encrypted_expected_denied_answer %></td>
    <td><%= appliance.encrypted_confirmed_reply %></td>
    <td><%= appliance.encrypted_denied_reply %></td>
    <td><%= appliance.encrypted_failed_reply %></td>
    <td><%= appliance.encrypted_expired_reply %></td>
    <td><%= link_to 'Show', appliance %></td>
    <td><%= link_to 'Edit', edit_appliance_path(appliance) %></td>
    <td><%= link_to 'Destroy', appliance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appliance', new_appliance_path %>
