<h1>Listing account_plans</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Month</th>
    <th>Phone add</th>
    <th>Phone mult</th>
    <th>Call in add</th>
    <th>Call in mult</th>
    <th>Sms in add</th>
    <th>Sms in mult</th>
    <th>Sms out add</th>
    <th>Sms out mult</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @account_plans.each do |account_plan| %>
  <tr>
    <td><%= account_plan.label %></td>
    <td><%= account_plan.month %></td>
    <td><%= account_plan.phone_add %></td>
    <td><%= account_plan.phone_mult %></td>
    <td><%= account_plan.call_in_add %></td>
    <td><%= account_plan.call_in_mult %></td>
    <td><%= account_plan.sms_in_add %></td>
    <td><%= account_plan.sms_in_mult %></td>
    <td><%= account_plan.sms_out_add %></td>
    <td><%= account_plan.sms_out_mult %></td>
    <td><%= link_to 'Show', account_plan %></td>
    <td><%= link_to 'Edit', edit_account_plan_path(account_plan) %></td>
    <td><%= link_to 'Destroy', account_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account plan', new_account_plan_path %>
