- content_for :title, 'Change Password'

= devise_error_messages!
= twitter_bootstrap_form_for( resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
  .modal.inline-modal
    .modal-header
      / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h3 Change Password

    .modal-body
      = f.password_field :current_password
      %hr
      = f.password_field :password, 'New password'
      = f.password_field :password_confirmation, 'Confirm new password'

    .modal-footer
      %div
        = f.submit "Change Password", class: 'btn btn-primary'
        %a.btn{:href => "/"} Cancel

= render "devise/shared/links"
