- headings('Sign up', 'and get started')

- unless ALLOW_USER_REGISTRATION
  .alert.alert-danger
    Sorry, new user registration is currently disabled.

- else
  = devise_error_messages!
  = form_for( resource, :as => resource_name, :url => registration_path(resource_name), method: :post, class: 'general' ) do |f|
  
    %fieldset
      %legend Tell us a bit about you
  
      .field{ has_error(resource, :name) }
        = f.label :name
        .inputs= f.text_field :name
      .field{ has_error(resource, :nickname) }
        = f.label :nickname
        .inputs= f.text_field :nickname
      .field{ has_error(resource, :email) }
        = f.label :email
        .inputs= f.email_field :email
  
    %fieldset
      %legend Set up your password
  
      .field{ has_error(resource, :password) }
        = f.label :password
        .inputs= f.password_field :password
      .field{ has_error(resource, :password_confirmation) }
        = f.label :password_confirmation
        .inputs= f.password_field :password_confirmation
  
    .actions
      = f.submit "Sign up"

= render "devise/shared/links"
