- content_for :title, 'Sign Up'

= form_for( resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" } ) do |f|
  .modal.inline-modal
    .modal-header
      / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h3 Sign up

    .modal-body
    
      %h5 Set up your sign-in
      .control-group
        = f.label :email, :class => 'control-label'
        .controls= f.email_field :email
      .control-group
        = f.label :password, :class => 'control-label'
        .controls= f.password_field :password
      .control-group
        = f.label :password_confirmation, :class => 'control-label'
        .controls= f.password_field :password_confirmation

      %hr
      %h5 Tell us a bit about you
      .control-group
        = f.label :name, :class => 'control-label'
        .controls= f.text_field :name
      .control-group
        = f.label :nickname, :class => 'control-label'
        .controls= f.text_field :nickname
      -#.control-group
      -#  = f.label :organization, :label, :class => 'control-label'
      -#  .controls= f.text_field :organization, :label

    .modal-footer
      / %a.btn{:href => "#"} Close
      %div= f.submit "Sign up", class: 'btn btn-primary'

= render "devise/shared/links"
