= render( layout: 'layouts/modal', locals: { modal_id: 'change_stencil_modal', header_text: 'Change Stencil', show_accept_button: false, cancel_text: 'Cancel and go back to conversation' }) do
  - render 'stencillist'

= form_for( [@organization, @stencil, @conversation], :html => { :class => 'with-icons' } ) do |f|
  = render partial: 'alert_errors', object: @conversation.errors

  %fieldset
    %legend Stencil
    .field-with-icon
      .icon
        = icon(:stencils, class: 'fa-4x')
        %a.btn.btn-default.btn-xs{"data-toggle" => "modal", :href => '#change_stencil_modal', :role => "button"} Change Stencil
      .field
        %p
          %strong= @stencil.label
        - if @stencil.description
          %p.well.well-sm= @stencil.description

  %fieldset
    %legend Ask...
    .field-with-icon
      .icon= icon(:user, class: 'fa-4x')
      .field{ has_error(@stencil, :label) }
        = f.label :customer_number, 'Ask this person...'
        = f.text_field :customer_number
      
    .field-with-icon
      .icon= icon('question-circle', class: 'fa-4x')
      .field{ has_error(@stencil, :question) }
        = f.label :question, '...this question...'
        = f.text_area :question, rows: 3
      
    .field-with-icon
      .icon= icon(:phone_numbers, class: 'fa-4x')
      .field{ has_error(@stencil, :internal_number) }
        = f.label :internal_number, '...from this phone number...'
        = f.collection_select :internal_number, @stencil.phone_book.phone_numbers.uniq, :number, :human_number, include_blank: 'Auto-select'
      
    .field-with-icon
      .icon= icon(:globe, class: 'fa-4x')
      .field{ has_error(@stencil, :webhook_uri) }
        = f.label :webhook_uri, '...and send conversation updates to this URI'
        = f.text_field :webhook_uri
        %p.help-block
          = llabel('Tip', :info)
          Leave blank to not send updates

  %fieldset
    %legend ...Answer

    / Confirmed Reply
    .field-with-icon
      .icon= icon(:confirmed, class: 'fa-4x')
      .col-sm-4{ has_error(@stencil, :expected_confirmed_answer) }
        = f.label :expected_confirmed_answer, 'When receiving this answer...'
        = f.text_area :expected_confirmed_answer, rows: 3
      .col-sm-1= icon('arrow-right', class: 'fa-3x' )
      .col-sm-5{ has_error(@stencil, :confirmed_reply) }
        = f.label :confirmed_reply, '...reply with this message'
        =f.text_area :confirmed_reply, rows: 3
        %p.help-block
          \...and mark the conversation as
          = conversation_state_tag(:confirmed)
  
    / Denied Reply
    .field-with-icon
      .icon= icon(:denied, class: 'fa-4x')
      .col-sm-4{ has_error(@stencil, :expected_denied_answer) }
        = f.label :expected_denied_answer, 'When receiving this answer...'
        = f.text_area :expected_denied_answer, rows: 3
      .col-sm-1= icon('arrow-right', class: 'fa-3x' )
      .col-sm-5{ has_error(@stencil, :denied_reply) }
        = f.label :denied_reply, '...reply with this message'
        =f.text_area :denied_reply, rows: 3
        %p.help-block
          \...and mark the conversation as
          = conversation_state_tag(:denied)
  
    / Failed Reply
    .field-with-icon
      .icon= icon(:failed, class: 'fa-4x')
      .col-sm-4 When receiving any other answer...
      .col-sm-1= icon('arrow-right', class: 'fa-3x' )
      .col-sm-5{ has_error(@stencil, :failed_reply) }
        = f.label :failed_reply, '...reply with this message'
        =f.text_area :failed_reply, rows: 3
        %p.help-block
          \...and mark the conversation as
          = conversation_state_tag(:failed)
  
    / Expired Reply
    .field-with-icon
      .icon= icon(:expired, class: 'fa-4x')
      .col-sm-4{ has_error(@stencil, :seconds_to_live) }
        = f.label :seconds_to_live, 'If no answer is received in...'
        = f.number_field :seconds_to_live
        seconds
      .col-sm-1= icon('arrow-right', class: 'fa-3x' )
      .col-sm-5{ has_error(@stencil, :expired_reply) }
        = f.label :expired_reply, '...send this message'
        =f.text_area :expired_reply, rows: 3
        %p.help-block
          \...and mark the conversation as
          = conversation_state_tag(:expired)

  .actions
    = f.submit
    = link_to 'Discard changes', [@organization, @stencil], :class => 'cancel'
