-# Discard changes link
- discard_link = @stencil.nil? ? conversations_path() : stencil_conversations_path(@stencil)

= render partial: 'layouts/modal', locals: { modal_id: 'change_stencil_modal', header: 'Change Stencil', body_partial: 'stencillist', show_accept_button: false, cancel_text: 'Cancel and go back to conversation' }

= form_for( [@stencil, @conversation], :html => { :class => 'form-horizontal' } ) do |f|
  - if @conversation.errors.any?
    #error_explanation
      %h2
        = pluralize(@conversation.errors.count, "error")
        prohibited this conversation from being saved:
      %ul
        - @conversation.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :stencil, :class => 'control-label'
    .controls
      = @stencil.label
      %a.btn.btn-mini{"data-toggle" => "modal", :href => '#change_stencil_modal', :role => "button"} Change Stencil
    -#=f.collection_select :stencil_id, @account.stencils, :id, :label
  .control-group
    = f.label :to_number, :class => 'control-label' do
      Customer number
    .controls
      .input-prepend
        %span.add-on= icon( :user )
        = f.text_field :to_number
  .control-group
    = f.label :from_number, :class => 'control-label' do
      Service number
    .controls
      .input-prepend
        %span.add-on= icon( :rss )
        = f.text_field :from_number
  .control-group
    = f.label :seconds_to_live, :class => 'control-label'
    .controls= f.number_field :seconds_to_live, :value=>@stencil.seconds_to_live
  .control-group
    = f.label :question, :class => 'control-label'
    .controls= f.text_area :question, :rows=>3, :value=>@stencil.question
  .control-group
    = f.label :expected_confirmed_answer, :class => 'control-label'
    .controls= f.text_area :expected_confirmed_answer, :rows=>3, :value=>@stencil.expected_confirmed_answer
  .control-group
    = f.label :expected_denied_answer, :class => 'control-label'
    .controls= f.text_area :expected_denied_answer, :rows=>3, :value=>@stencil.expected_denied_answer
  .control-group
    = f.label :confirmed_reply, :class => 'control-label'
    .controls= f.text_area :confirmed_reply, :rows=>3, :value=>@stencil.confirmed_reply
  .control-group
    = f.label :denied_reply, :class => 'control-label'
    .controls= f.text_area :denied_reply, :rows=>3, :value=>@stencil.denied_reply
  .control-group
    = f.label :failed_reply, :class => 'control-label'
    .controls= f.text_area :failed_reply, :rows=>3, :value=>@stencil.failed_reply
  .control-group
    = f.label :expired_reply, :class => 'control-label'
    .controls= f.text_area :expired_reply, :rows=>3, :value=>@stencil.expired_reply

  .control-group.actions
    .controls
      = f.submit :class => 'btn btn-primary'
      = link_to 'Discard changes', discard_link, :class => 'btn'
