.actions
  -# If can view all conversations
  - if can?(:index, Conversation)
    = link_to iconify('Conversations', :conversations), organization_conversations_path(@organization)

  -# Allow starting conversations
  - if can?(:new, Conversation) && can_start_conversation?(@organization)
    = link_to iconify('Start conversation', :plus), new_organization_stencil_conversation_path( @organization, @stencil || @conversation.try(:stencil) || @organization.default_stencil )
    
- if @conversation.try(:persisted?)
  .actions
    -# Allow viewing
    - if can?(:show, @conversation)
      = link_to iconify('Details', :show), [@organization, @conversation]
      
- if @conversation.try(:persisted?)
  .related
    %span.tag Related
    = link_to icon(:stencils), [@organization, @conversation.stencil]
    = link_to icon(:conversations), organization_stencil_conversations_path(@organization, @conversation.stencil)
