-# Page header
- headings 'Conversations', 'all conversations' + (@stencil.nil? ? '' : " for #{@stencil.label}"), :conversations
- breadcrumb :organization_conversations, @organization

/ Page body
%table.list
  %thead
    %tr
      %th
      - if @multistencil
        %th Stencil
      %th Status
      %th From number
      %th To number
      %th Expires On
      %th.text-center
        %span{ rel: 'tooltip', title: 'Message sent to person' }
          = icon( 'map-marker' )
          = icon( 'arrow-right' )
          = icon( :user )
      %th.text-center
        %span{ rel: 'tooltip', title: 'Message received from person' }
          = icon( 'map-marker' )
          = icon( 'arrow-left' )
          = icon( :user )
      %th.text-center
        %span{ rel: 'tooltip', title: 'Reply sent to person' }
          = icon( 'map-marker' )
          = icon( 'arrow-right' )
          = icon( :user )
  %tbody
    = render(partial: 'conversation', collection: @conversations) || render(partial: 'no_conversations')

= paginate @conversations