-# Page header
- headings 'Conversations', 'all conversations' + (@stencil.nil? ? '' : " for #{@stencil.label}"), :conversations
- breadcrumb :organization_conversations, @organization

/ Page body
%table.list
  %thead
    %tr
      %th
      - if @multistencil
        %th Stencil
      %th Status
      %th From number
      %th To number
      %th Expires On
      %th
        %span{ rel: 'tooltip', title: 'Message sent to person' }
          = icon( 'map-marker' )
          = icon( 'arrow-right' )
          = icon( :user )
      %th
        %span{ rel: 'tooltip', title: 'Message received from person' }
          = icon( 'map-marker' )
          = icon( 'arrow-left' )
          = icon( :user )
      %th
        %span{ rel: 'tooltip', title: 'Reply sent to person' }
          = icon( 'map-marker' )
          = icon( 'arrow-right' )
          = icon( :user )
  %tbody
    - if @conversations.empty?
      %tr
        %td{ colspan: 8 + (@multistencil ? 1 : 0) }
          %em No conversations match your selected filters. Please remove your filters to see more conversations.
    
    - @conversations.each do |conversation|
      %tr
        %td= split_dropdown_list([ |
            { label: 'Details', icon: :show, link: [@organization, conversation], if: can?(:show, conversation) }, |
            { label: 'Force status to Confirmed', icon: 'ok-sign', link: [@organization, conversation], if: can?(:force, conversation) }, |
            { label: 'Force status to Denied', icon: 'minus-sign', link: [@organization, conversation], if: can?(:force, conversation) }, |
            { label: 'Force status to Failed', icon: 'remove-sign', link: [@organization, conversation], if: can?(:force, conversation) }, |
            { label: 'Force status to Expired', icon: :time, link: [@organization, conversation] , if: can?(:force, conversation) } |
          ], {class: 'btn-xs'} ) |
        - if @multistencil
          %td= link_to conversation.stencil.label, [@organization, conversation.stencil]
        %td
          = link_to [@organization, conversation] do
            = conversation_state_tag( conversation )
        %td= humanize_phone_number Phony.normalize conversation.internal_number
        %td= humanize_phone_number Phony.normalize conversation.customer_number
        %td= conversation.expires_at
        %td.text-center= checkmark_for conversation.challenge_sent_at
        %td.text-center= checkmark_for conversation.response_received_at
        %td.text-center= checkmark_for conversation.reply_sent_at

= paginate @conversations