- headings('Resend', 'unlock instructions')

= form_for( resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => "general" } ) do |f|

  = devise_error_messages!
  
  .field{ has_error(resource, :email) }
    = f.label :email
    .inputs= f.email_field :email
  
  .actions
    = f.submit "Resend unlock instructions"

= render "devise/shared/links"