- cache if_response_clause.model do
  .modal.fade[if_response_clause.model, :edit]
    .modal-dialog
      .modal-content
        = form_for(if_response_clause.model) do |f|
          .modal-header
            %h4.modal-title= iconify('Edit', :edit)
          .modal-body
            %p This triggers whenever the this response is received.

            = f.hidden_field :parent_id
            = f.hidden_field :parent_type
            = f.hidden_field :type
            
            .form-group
              = f.label :response
              = f.text_area :response, { class: 'form-control' }

          .modal-footer
            = f.submit 'Save', class: 'btn btn-primary'
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Discard
