= twitter_bootstrap_form_for( @user, :html => { class: "form-horizontal" } ) do |f|
  - if @user.errors.any?
    .error
      %h2
        = @user.errors.count
        = pluralize(@user.errors.count, "error")
        prohibited this update:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :first_name, 'Given Name'

  = f.text_field :last_name, 'Family Name'

  = f.email_field :email, add_on: :prepend do
    %span.add-on @

  - if current_user.is_organization_administrator?
    = f.label "Roles" do
      - UserRole::ROLES.each do |role|
        - disabled = cannot?(:edit, @user) || ( ( role == :organization_administrator ) && @user.id == current_user.id )
        %label.checkbox
          = check_box_tag 'roles[]', role, @user.roles_for(@organization).roles.include?(role), { id: 'user_role_%s' % role, disabled: disabled }
          = role.to_s.humanize

  .control-group
    .controls= f.submit class: 'btn btn-primary'
