-#
  = form_for( @user, html: { class: 'form-horizontal' } ) do |f|
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

/ Page body
.row
  .span3= render :partial => 'navlist'
  .span9
    = twitter_bootstrap_form_for( @user, :html => { class: "form-horizontal" } ) do |f|
      - if @user.errors.any?
        .error
          %h2
            = @user.errors.count
            = pluralize(@user.errors.count, "error")
            prohibited this update:
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      = f.text_field :first_name, 'Given Name'
      = f.text_field :last_name, 'Full Name'
      = f.email_field :email, add_on: :prepend do
        %span.add-on @

      = f.label "Roles" do
        - User::ROLES.each do |role|
          - next if role == :super_user && !current_user.is_super_user?
          - disabled = cannot?(:edit, @user) || ( ( role == :super_user || role == :organization_administrator ) && @user.id == current_user.id )
          %label.checkbox
            = check_box_tag 'user[roles][]', role, @user.roles.include?(role), { id: 'user_role_%s' % role, disabled: disabled }
            = role.to_s.humanize

      .control-group
        .controls= f.submit class: 'btn btn-primary'
