- cache [membership, policy(membership).edit?, policy(membership).destroy?] do
  %tr
    %td= membership.team.link_to
    %td
      = membership.team.owner.gravatar_image_tag(20, class: 'img-circle')
      = membership.team.owner.link_to
    %td.text-center= membership.owner_checkmark?
    %td.text-center= membership.administrator_checkmark?
    %td.text-center= membership.developer_checkmark?
    %td.text-center= membership.billing_liaison_checkmark?
    %td.text-center= membership.conversation_manager_checkmark?
    %td.tools
      - if policy(membership).edit?
        %a{ href: '#', 'data-toggle' => "modal", 'data-target' => "#edit_membership_#{ membership.id }", class: 'btn btn-xs btn-default' }= icon(:edit)
        = render partial: 'memberships/edit_modal', object: membership, as: :membership

      - if policy(membership).destroy?
        %a{ href: '#', 'data-toggle' => "modal", 'data-target' => "#destroy_membership_#{ membership.id }", class: 'btn btn-xs btn-default' }= icon(:delete)
        = render partial: 'memberships/destroy_modal', object: membership, as: :membership
