.actions
  -# If can view all users
  - if can?(:index, User) && current_user.is_organization_administrator_for?(@organization)
    = link_to iconify('Users', :users), [@organization, :users]

  -# If can invite users
  - if can?(:invite, User) && current_user.is_organization_administrator_for?(@organization)
    = link_to iconify('Invite', :invite), '#new_user_role', data: {toggle: 'modal'}
    = render partial: 'user_roles/new_modal'

- if @user.try(:persisted?)
  .actions
    -# Allow viewing
    - if can?(:show, @user)
      = link_to iconify('Details', :show), [@organization, @user]
      
    -# Editing
    - if can?(:edit, @user)
      = link_to iconify('Edit', :edit), edit_user_registration_path

    -# Change password
    - if can?(:change_password, @user)
      = link_to iconify('Change password', :change_password), edit_user_registration_path

    -# Change privileges
    - if can?(:edit, @user.roles_for(@organization))
      = link_to iconify('Change roles', :roles), "#edit_user_role_#{ @user.id }", data: {toggle: 'modal'}
      = render partial: 'user_roles/edit_modal', object: @user.roles_for(@organization), as: :user_role

    -# Allow deleting
    - if can?(:destroy, @user.roles_for(@organization))
      = link_to iconify('Delete', :delete), "#destroy_user_role_#{ @user.id }", class: 'delete', data: {toggle: 'modal'}
      = render partial: 'user_roles/destroy_modal', object: @user.roles_for(@organization), as: :user_role

- if @user.try(:persisted?)
  .related
    %span.tag Related
    = link_to icon(:organizations), organizations_path()
