/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :user )
        User
        %small= "hello #{@user.first_name}"

/ Page body
.row
  .span3= render :partial => 'navlist'
  .span9= render 'form'
