/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :users )
        Users
        %small all users

/ Actual user list
.row
  .span12
    %table.table.table-condensed
      %thead
        %tr
          %th.span1
          %th Name
          %th Email
          %th{style:'text-align:center'} Administrator
          %th{style:'text-align:center'} Developer
          %th{style:'text-align:center'} Billing
          %th{style:'text-align:center'} Conversation Manager
      %tbody
        - @users.where( 'invitation_sent_at is NULL or (invitation_sent_at is not NULL and invitation_accepted_at is not NULL)' ).each do |user|
          - user_roles = user.roles_for(@organization)
          %tr
            %td= split_dropdown_list([ |
              { label: 'Details', icon: :show, link: user, if: can?(:show, user) }, |
              { label: 'Edit', icon: :edit, link: edit_user_path(user), if: can?(:edit, user) }, |
              { label: 'Delete', icon: :delete, link: user, options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, user) } |
              ], {class: 'btn-mini'} ) |

            %td= link_to "#{user.first_name} #{user.last_name}", user
            %td= mail_to user.email
            %td{style:'text-align:center'}= user_roles.is_organization_administrator? ? icon(:ok) : ''
            %td{style:'text-align:center'}= user_roles.is_developer? ? icon(:ok) : ''
            %td{style:'text-align:center'}= user_roles.is_billing_liaison? ? icon(:ok) : ''
            %td{style:'text-align:center'}= user_roles.is_conversation_manager? ? icon(:ok) : ''            

/ Invited list
- @invited_users = @users.where( 'invitation_sent_at is not NULL and invitation_accepted_at is NULL' )
.row
  .span12
    - if can? :new, User
      .pull-right= link_to 'Invite a user', new_user_invitation_path, :class=>'btn btn-success btn-small'
    %h4 Invited Users
    %table.table.table-condensed
      %thead
        %tr
          %th.span1
          %th Name
          %th Email
          %th{style:'text-align:center'} Administrator
          %th{style:'text-align:center'} Developer
          %th{style:'text-align:center'} Billing
          %th{style:'text-align:center'} Conversation Manager
      %tbody
        - unless @invited_users.any?
          %tr
            %td
            %td{ colspan: 6 }
              %em No outstanding invitations.
        - @invited_users.each do |user|
          - user_roles = user.roles_for(current_organization)
          %tr
            %td= split_dropdown_list([ |
              { label: 'Details', icon: :show, link: user, if: can?(:show, user) }, |
              { label: 'Edit', icon: :edit, link: edit_user_path(user), if: can?(:edit, user) }, |
              { label: 'Delete', icon: :delete, link: user, options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, user) } |
              ], {class: 'btn-mini'} ) |

            %td= link_to "#{user.first_name} #{user.last_name}", user
            %td= mail_to user.email
            %td{style:'text-align:center'}= user_roles.is_organization_administrator? ? icon(:ok) : ''
            %td{style:'text-align:center'}= user_roles.is_developer? ? icon(:ok) : ''
            %td{style:'text-align:center'}= user_roles.is_billing_liaison? ? icon(:ok) : ''
            %td{style:'text-align:center'}= user_roles.is_conversation_manager? ? icon(:ok) : ''            
