/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :users )
        Users
        %small all users

/ Page controls
-#
  .row
    .span12.table-tools
      = appliance_dropdown_list( @account, @appliance )
      = status_dropdown_list( @account, @appliance, params[:status] )
      - if can? :new, Ticket
        .pull-right= link_to 'Start a new ticket', ticket_path, :class=>'btn btn-success btn-small'

/ Page body
.row
  .span12
    %table.table.table-condensed
      %thead
        %tr
          %th.span1
          %th Name
          %th Email
      %tbody
        - @users.each do |user|
          %tr
            %td= split_dropdown_list([ |
                { label: 'Details', icon: :show, link: user, if: can?(:show, user) }, |
              { label: 'Edit', icon: :edit, link: edit_user_path(user), if: can?(:edit, user) }, |
              { label: 'Delete', icon: :delete, link: user, options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, user) } |
              ], {class: 'btn-mini'} ) |

            %td #{user.first_name} #{user.last_name}
            %td= mail_to user.email
