/ Page Header
- titles 'User', "hello #{@user.nickname}", :user

/ Page body
.row
  .span3= render :partial => 'navlist'
  .span9
    %p
      %b Name
      = "#{@user.name} (#{@user.nickname})"
    %p
      %b E-mail
      = mail_to @user.email
    %p
      %b Shared Organizations
      %ul
        - @shared_organizations.each do |org|
          %li
            = link_to org do
              = icon org.icon
              = org.label
            (
            = link_to organization_users_path(org), prepend: '(' do
              = icon :users
              Users
            )
              
            
            
