/
  %h2 Change your password
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    %div
      = f.label :password, "New password"
      %br/
      = f.password_field :password
    %div
      = f.label :password_confirmation, "Confirm new password"
      %br/
      = f.password_field :password_confirmation
    %div= f.submit "Change my password"
  = render "devise/shared/links"

= form_for( resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" } ) do |f|
  .modal.inline-modal
    .modal-header
      / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h3 Change password
    .modal-body
      = devise_error_messages!
      .control-group
        = f.label :password, 'New password', class: 'control-label'
        .controls= f.email_field :password
      .control-group
        = f.label :password_confirmation, 'Confirm new password', class: 'control-label'
        .controls= f.email_field :password_confirmation
    .modal-footer
      / %a.btn{:href => "#"} Close
      %div
        = f.hidden_field :reset_password_token
        = f.submit "Change my password", class: 'btn btn-primary'

= render "devise/shared/links"
