= form_for( [@organization, @ledger_entry] ) do |f|
  = render partial: 'alert_errors', object: @ledger_entry.errors
  .field
    = f.label :narrative
    %br/
    = f.text_field :narrative
  .field
    = f.label :value
    %br/
    = f.text_field :value
  .field
    = f.label :item
    %br/
    = f.text_field :item
  .actions
    = f.submit
