.actions
  -# If can view all invoices
  - if can?(:index, Invoice)
    = link_to iconify('Invoices', :invoices), organization_invoices_path(@organization)

.actions
  -# Go back to parent invoice
  - if @ledger_entry.invoice && can?(:show, @ledger_entry.invoice)
    = link_to iconify('Invoice', :invoices), [@organization, @ledger_entry.invoice]
    
  - else can?(:index, Invoice)
    -# Otherwise go back to pending
    = link_to iconify('Pending Transactions', :ledger_entries), [:pending, @organization, :invoices]
      
.related
  %span.tag Related
  = link_to icon(:invoices), [@organization, :invoices]
  = link_to icon(display_icon_for(@ledger_entry.item)), [@organization, @ledger_entry.item]
