<h1>Listing ledger_entries</h1>

<table>
  <tr>
    <th>Narrative</th>
    <th>Value</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ledger_entries.each do |ledger_entry| %>
  <tr>
    <td><%= ledger_entry.narrative %></td>
    <td><%= ledger_entry.value %></td>
    <td><%= ledger_entry.item %></td>
    <td><%= link_to 'Show', ledger_entry %></td>
    <td><%= link_to 'Edit', edit_ledger_entry_path(ledger_entry) %></td>
    <td><%= link_to 'Destroy', ledger_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ledger Entry', new_ledger_entries_path %>
