<p id="notice"><%= notice %></p>

<p>
  <b>Narrative:</b>
  <%= @ledger_entry.narrative %>
</p>

<p>
  <b>Value:</b>
  <%= @ledger_entry.value %>
</p>

<p>
  <b>Item:</b>
  <%= @ledger_entry.item %>
</p>


<%= link_to 'Edit', edit_ledger_entry_path(@ledger_entry) %> |
<%= link_to 'Back', ledger_entries_path %>
