-# Page header
- headings 'Ledger', "record #{@ledger_entry.id}", :ledger_entries
-# breadcrumb @ledger_entry

-# Page body
%p
  %b Narrative:
  = @ledger_entry.narrative
%p
  %b Reference:
  = link_to( display_name_and_icon_for(@ledger_entry.item), [@organization, @ledger_entry.item] )
%p
  %b Value:
  - if @ledger_entry.settled?
    = currency_for @ledger_entry.value
  - else
    %em
      = currency_for @ledger_entry.value
      (Pending settlement)

%p
  %b Created:
  = l @ledger_entry.created_at
%p
  %b Settled:
  - if @ledger_entry.settled?
    = @ledger_entry.value
  - else
    %em Pending settlement
