<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appliance %><br />
    <%= f.text_field :appliance %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :encrypted_from_number %><br />
    <%= f.text_field :encrypted_from_number %>
  </div>
  <div class="field">
    <%= f.label :encrypted_to_number %><br />
    <%= f.text_field :encrypted_to_number %>
  </div>
  <div class="field">
    <%= f.label :expiry %><br />
    <%= f.datetime_select :expiry %>
  </div>
  <div class="field">
    <%= f.label :encrypted_question %><br />
    <%= f.text_field :encrypted_question %>
  </div>
  <div class="field">
    <%= f.label :encrypted_expected_confirmed_answer %><br />
    <%= f.text_field :encrypted_expected_confirmed_answer %>
  </div>
  <div class="field">
    <%= f.label :encrypted_expected_denied_answer %><br />
    <%= f.text_field :encrypted_expected_denied_answer %>
  </div>
  <div class="field">
    <%= f.label :encrypted_actual_answer %><br />
    <%= f.text_field :encrypted_actual_answer %>
  </div>
  <div class="field">
    <%= f.label :encrypted_confirmed_reply %><br />
    <%= f.text_field :encrypted_confirmed_reply %>
  </div>
  <div class="field">
    <%= f.label :encrypted_denied_reply %><br />
    <%= f.text_field :encrypted_denied_reply %>
  </div>
  <div class="field">
    <%= f.label :encrypted_failed_reply %><br />
    <%= f.text_field :encrypted_failed_reply %>
  </div>
  <div class="field">
    <%= f.label :encrypted_expired_reply %><br />
    <%= f.text_field :encrypted_expired_reply %>
  </div>
  <div class="field">
    <%= f.label :challenge_sent %><br />
    <%= f.datetime_select :challenge_sent %>
  </div>
  <div class="field">
    <%= f.label :challenge_sms_sid %><br />
    <%= f.text_field :challenge_sms_sid %>
  </div>
  <div class="field">
    <%= f.label :response_received %><br />
    <%= f.datetime_select :response_received %>
  </div>
  <div class="field">
    <%= f.label :response_sms_sid %><br />
    <%= f.text_field :response_sms_sid %>
  </div>
  <div class="field">
    <%= f.label :reply_sent %><br />
    <%= f.datetime_select :reply_sent %>
  </div>
  <div class="field">
    <%= f.label :reply_sms_sid %><br />
    <%= f.text_field :reply_sms_sid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
