-# UI variables
- ticket_link = new_appliance_ticket_path( @appliance.nil? ? @account.default_appliance : @appliance )

/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :tickets )
        Tickets
        %small
          all tickets
          - unless @appliance.nil?
            = "for #{@appliance.label}"

/ Page controls
.row
  .span12
    = appliance_dropdown_list( @account, @appliance )
    = status_dropdown_list( @account, @appliance, params[:status] )
    - if can? :new, Ticket
      .pull-right= link_to 'Start a new ticket', ticket_link, :class=>'btn btn-success btn-mini'

/ Page body
.row
  .span12
    %table.table.table-striped.table-condensed
      %thead
        %tr
          - if @multiappliance
            %th Appliance
          %th Status
          %th From number
          %th To number
          %th Expires On
          %th
            %span{ rel: 'tooltip', title: 'Message sent to person' }
              = icon( :rss )
              = icon( 'arrow-right' )
              = icon( :user )
          %th
            %span{ rel: 'tooltip', title: 'Message received from person' }
              = icon( :rss )
              = icon( 'arrow-left' )
              = icon( :user )
          %th
            %span{ rel: 'tooltip', title: 'Reply sent to person' }
              = icon( :rss )
              = icon( 'arrow-right' )
              = icon( :user )
          %th
            / Manage toolbox
      %tbody
        - if @tickets.empty?
          %tr
            %td{ colspan: 8 + (@multiappliance ? 1 : 0) }
              %em No tickets match your selected filters. Please remove your filters to see more tickets.
        
        - @tickets.each do |ticket|
          %tr{ :class=>ticket_class(ticket.status) }
            - if @multiappliance
              %td= link_to ticket.appliance.label, ticket.appliance
            %td= link_to human_ticket_status(ticket.status), ticket
            %td= humanize_phone_number Phony.normalize ticket.from_number
            %td= humanize_phone_number Phony.normalize ticket.to_number
            %td= ticket.expiry
            %td= ticket.challenge_sent ? icon(:ok) : ''
            %td= ticket.response_received ? icon(:ok) : ''
            %td= ticket.reply_sent ? icon(:ok) : ''
            %td= dropdown_list( 'Manage', [ |
                { label: 'Details', icon: :show, link: ticket }, |
                { label: 'Force status to Confirmed', icon: 'ok-sign', link: ticket }, |
                { label: 'Force status to Denied', icon: 'minus-sign', link: ticket }, |
                { label: 'Force status to Failed', icon: 'remove-sign', link: ticket }, |
                { label: 'Force status to Expired', icon: :time, link: ticket } |
              ]) |

  = paginate @tickets