<p id="notice"><%= notice %></p>

<p>
  <b>Appliance:</b>
  <%= @ticket.appliance %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>

<p>
  <b>Encrypted from number:</b>
  <%= @ticket.encrypted_from_number %>
</p>

<p>
  <b>Encrypted to number:</b>
  <%= @ticket.encrypted_to_number %>
</p>

<p>
  <b>Expiry:</b>
  <%= @ticket.expiry %>
</p>

<p>
  <b>Encrypted question:</b>
  <%= @ticket.encrypted_question %>
</p>

<p>
  <b>Encrypted expected confirmed answer:</b>
  <%= @ticket.encrypted_expected_confirmed_answer %>
</p>

<p>
  <b>Encrypted expected denied answer:</b>
  <%= @ticket.encrypted_expected_denied_answer %>
</p>

<p>
  <b>Encrypted actual answer:</b>
  <%= @ticket.encrypted_actual_answer %>
</p>

<p>
  <b>Encrypted confirmed reply:</b>
  <%= @ticket.encrypted_confirmed_reply %>
</p>

<p>
  <b>Encrypted denied reply:</b>
  <%= @ticket.encrypted_denied_reply %>
</p>

<p>
  <b>Encrypted failed reply:</b>
  <%= @ticket.encrypted_failed_reply %>
</p>

<p>
  <b>Encrypted expired reply:</b>
  <%= @ticket.encrypted_expired_reply %>
</p>

<p>
  <b>Challenge sent:</b>
  <%= @ticket.challenge_sent %>
</p>

<p>
  <b>Challenge sms sid:</b>
  <%= @ticket.challenge_sms_sid %>
</p>

<p>
  <b>Response received:</b>
  <%= @ticket.response_received %>
</p>

<p>
  <b>Response sms sid:</b>
  <%= @ticket.response_sms_sid %>
</p>

<p>
  <b>Reply sent:</b>
  <%= @ticket.reply_sent %>
</p>

<p>
  <b>Reply sms sid:</b>
  <%= @ticket.reply_sms_sid %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
