/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :tickets )
        Tickets
        %small= "ticket #{@ticket.id}"

/ Page body
.row
  .span3
    = render :partial => 'navlist'
  .span9
    .row
      .span9
        %p
          %b Appliance:
          = @ticket.appliance.label
        %p
          %b Status:
          = ticket_status_icon @ticket.status
          = human_ticket_status @ticket.status
        %p
          %b Ticket Expires:
          = l @ticket.expiry

    .row
      .span9
        / Conversation flow
        %table.table.table-striped
          %thead
            %tr
              %th{ :width=>'50%'}
                %span{ rel: 'tooltip', title: 'Message sent to person' }
                  = icon( :rss )
                  = humanize_phone_number @ticket.from_number
              %th{ :width=>'50%'}
                %span{ rel: 'tooltip', title: 'Message received from person' }
                  = icon( :user )
                  = humanize_phone_number @ticket.to_number
          %tbody
            - @ticket.messages.order('coalesce(messages.sent_at, messages.created_at)').each do |message|
              %tr
                -# Do OUTBOUND
                %td
                  - if message.direction == Message::DIRECTION_OUT
                    %p
                      %small
                        Sent
                        = l (message.sent_at || message.created_at)
                    %p= message.body
                -# Do INBOUND
                %td
                  - if message.direction == Message::DIRECTION_IN
                    %p
                      %small
                        Received
                        = l (message.sent_at || message.created_at)
                    %p
                      - case @ticket.compare_answer( message.body )
                        - when Ticket::CONFIRMED
                          %i Confirmed message received. (Message hidden for security.)
                        - when Ticket::DENIED
                          %i Denied message received. (Message hidden for security.)
                        - when Ticket::FAILED
                          %i Unrecognised message received. (Message hidden for security.)
                        - else
                          message.body
