= form_for( @phone_number, :html => { :class => 'form-horizontal' } ) do |f|
  - if @phone_number.errors.any?
    #error_explanation
      %h2
        = pluralize(@phone_number.errors.count, "error")
        prohibited this phone_number from being saved:
      %ul
        - @phone_number.errors.full_messages.each do |msg|
          %li= msg

  %h4 Unsolicited SMS actions
  .control-group
    = f.label :unsolicited_sms_action, :class => 'control-label' do
      When receiving an unsolicited SMS...
    .controls
      = f.select :unsolicited_sms_action, sms_actions, { required: true }

  .control-group
    = f.label :unsolicited_sms_message, :class => 'control-label' do
      Reply to an unsolicited SMS with this message
    .controls
      = f.text_area :unsolicited_sms_message, :rows=>3
      %span.help-inline Only used when replying to messages
  
  %h4 Unsolicited call actions
  .control-group
    = f.label :unsolicited_call_action, :class => 'control-label' do
      When receiving an unsolicited call...
    .controls
      = f.select :unsolicited_call_action, call_actions, { required: true }

  .control-group
    = f.label :unsolicited_call_message, :class => 'control-label' do
      Reply to an unsolicited call with this message
    .controls
      = f.text_area :unsolicited_call_message, :rows=>3
      %span.help-inline Only used when replying to calls
  
  .control-group
    = f.label :unsolicited_call_voice, :class => 'control-label' do
      Voice
    .controls
      = f.select :unsolicited_call_voice, call_voices
      %span.help-inline Only used when replying to calls
  
  .control-group
    = f.label :unsolicited_call_language, :class => 'control-label' do
      Language
    .controls
      = f.select :unsolicited_call_language, call_languages
      %span.help-inline Only used when replying to calls
  
  %hr

  .control-group
    .controls
      = f.submit :class => 'btn btn-primary'
      = link_to 'Discard changes', @phone_number, :class => 'btn'
