= form_for( [@organization, @phone_number], :html => { :class => 'default-wide' } ) do |f|
  - if @phone_number.errors.any?
    #error_explanation
      %h2
        = pluralize(@phone_number.errors.count, "error")
        prohibited this phone_number from being saved:
      %ul
        - @phone_number.errors.full_messages.each do |msg|
          %li= msg

  %h4 Unsolicited SMS actions
  .form-group
    = f.label :unsolicited_sms_action, :class => 'key' do
      When receiving an unsolicited SMS...
    .value
      = f.select :unsolicited_sms_action, sms_actions, { required: true }

  .form-group
    = f.label :unsolicited_sms_message, :class => 'key' do
      Reply to an unsolicited SMS with this message
    .value
      = f.text_area :unsolicited_sms_message, :rows=>3
      %span.help-block
        = icon( :help )
        Only used when replying to messages
  
  %h4 Unsolicited call actions
  .form-group
    = f.label :unsolicited_call_action, :class => 'key' do
      When receiving an unsolicited call...
    .value
      = f.select :unsolicited_call_action, call_actions, { required: true }

  .form-group
    = f.label :unsolicited_call_message, :class => 'key' do
      Reply to an unsolicited call with this message
    .value
      = f.text_area :unsolicited_call_message, :rows=>3
      %span.help-block Only used when replying to calls
  
  .form-group
    = f.label :unsolicited_call_voice, :class => 'key' do
      Voice
    .value
      = f.select :unsolicited_call_voice, call_voices, {}
      %span.help-block Only used when replying to calls
  
  .form-group
    = f.label :unsolicited_call_language, :class => 'key' do
      Language
    .value
      = f.select :unsolicited_call_language, call_languages, {}
      %span.help-block Only used when replying to calls
  
  %hr

  .form-group
    .buttons
      = f.submit
      = link_to 'Discard changes', [@organization, @phone_number]
