= form_for( [@organization, @phone_number], :html => { :class => 'general wide' } ) do |f|
  = render partial: 'alert_errors', object: @phone_number.errors

  %fieldset
    %legend Unsolicited SMS actions
    .field
      = f.label :unsolicited_sms_action, 'When receiving an unsolicited SMS...'
      .inputs= f.select :unsolicited_sms_action, sms_actions, { required: true }
  
    .field
      = f.label :unsolicited_sms_message, 'Reply to an unsolicited SMS with this message'
      .inputs
        = f.text_area :unsolicited_sms_message, :rows=>3
        %span.help-block
          = icon( :help )
          Only used when replying to messages
  
  %fieldset
    %legend Unsolicited call actions
    .field
      = f.label :unsolicited_call_action, 'When receiving an unsolicited call...'
      .inputs= f.select :unsolicited_call_action, call_actions, { required: true }
  
    .field
      = f.label :unsolicited_call_message, 'Reply to an unsolicited call with this message'
      .inputs
        = f.text_area :unsolicited_call_message, :rows=>3
        %span.help-block Only used when replying to calls
    
    .field
      = f.label :unsolicited_call_voice, 'Voice'
      .inputs
        = f.select :unsolicited_call_voice, call_voices, {}
        %span.help-block Only used when replying to calls
    
    .field
      = f.label :unsolicited_call_language, 'Language'
      .inputs
        = f.select :unsolicited_call_language, call_languages, {}
        %span.help-block Only used when replying to calls

  .field
    .actions
      = f.submit
      = link_to 'Discard changes', [@organization, @phone_number], class: 'cancel'
