= form_for(@phone_number) do |f|
  - if @phone_number.errors.any?
    #error_explanation
      %h2
        = pluralize(@phone_number.errors.count, "error")
        prohibited this phone_number from being saved:
      %ul
        - @phone_number.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :account
    %br/
    = f.text_field :account
  .field
    = f.label :encrypted_number
    %br/
    = f.text_field :encrypted_number
  .field
    = f.label :provider_cost
    %br/
    = f.text_field :provider_cost
  .field
    = f.label :our_cost
    %br/
    = f.text_field :our_cost
  .actions
    = f.submit
