- modal_id = phone_number.phone_number.to_s.gsub(/\D/,'')
.modal.hide.fade{ id: "info#{modal_id}" }
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h3 Details for #{humanize_phone_number phone_number.phone_number}
  .modal-body
    %dl.dl-horizontal
      - unless phone_number.rate_center.blank?
        %dt Rate center
        %dd= phone_number.rate_center
      - unless phone_number.region.blank?
        %dt Region
        %dd= phone_number.region
      - unless phone_number.postal_code.blank?
        %dt Postal code
        %dd= phone_number.postal_code
      - unless phone_number.latitude.blank? || phone_number.longitude.blank?
        %dt Coordinates
        %dd #{phone_number.latitude}, #{phone_number.longitude}
      - unless phone_number.lata.blank?
        %dt LATA
        %dd= phone_number.lata
      %dt Monthly fee
      %dd= number_to_currency Twilio.assumed_phone_number_price( phone_number.iso_country ), unit: 'US$', precision: 2
  .modal-footer
    = form_tag( organization_phone_numbers_path(@organization), method: :post, style:'margin:0px; padding:0px' ) do
      = hidden_field_tag :phone_number, phone_number.phone_number
      = submit_tag 'Buy', class: 'btn btn-primary'
      %a.btn{:href => "#", "data-dismiss" => "modal"} Close
