- if can? :release, object
  .modal.fade[object, :release]{ "aria-hidden" => "true", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h3.modal-title
            = icon(:release)
            #{ humanize_phone_number object }
        .modal-body
          %p Are you sure you want to release <em>#{ humanize_phone_number object }</em>?
          %p The Phone Number will be immediately released from your account.
          %p You can attempt to re-purchase the number but you may be charged again.
          = form_for( [object.organization, object], url: release_organization_phone_number_path(object.organization, object), method: :post ) do |f|
            = f.button type: 'submit', class: 'release' do
              = icon(:release)
              I'm sure, release it!
            %a.btn.btn-default.btn-block{"aria-hidden" => "true", "data-dismiss" => "modal"}= iconify('Wait, keep it active!', :enable)
