- available_phone_number_id = available_phone_number.phone_number.to_s.gsub(/\D/,'')
.modal.fade{ id: "show_available_phone_number_#{available_phone_number_id}" }
  .modal-dialog
    .modal-content

      .modal-header
        / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h3
          = icon(:phone_number)
          #{humanize_phone_number available_phone_number.phone_number}

      .modal-body
        %dl.dl-horizontal
          - unless available_phone_number.rate_center.blank?
            %dt Rate center
            %dd= available_phone_number.rate_center
          - unless available_phone_number.region.blank?
            %dt Region
            %dd= available_phone_number.region
          - unless available_phone_number.postal_code.blank?
            %dt Postal code
            %dd= available_phone_number.postal_code
          - unless available_phone_number.latitude.blank? || available_phone_number.longitude.blank?
            %dt Coordinates
            %dd #{available_phone_number.latitude}, #{available_phone_number.longitude}
          - unless available_phone_number.lata.blank?
            %dt LATA
            %dd= available_phone_number.lata
          %dt Monthly fee
          %dd= currency_for organization.phone_number_pricer.price_for(available_phone_number.iso_country)
            
        - unless available_phone_number.latitude.blank? || available_phone_number.longitude.blank?
          = map_for_coordinates(available_phone_number.latitude, available_phone_number.longitude)

      .modal-footer
        = form_tag( organization_phone_numbers_path(@organization), method: :post, style:'margin:0px; padding:0px' ) do
          = hidden_field_tag 'phone_number[number]', available_phone_number.phone_number
          - if can_buy_phone_number?(organization)
            = submit_tag 'Buy'
          - else
            = link_to 'Upgrade', "#upgrade_organization_#{@organization.id}", data: {toggle: 'modal', dismiss: 'modal'}, class: 'btn btn-success'
          %button{"aria-hidden" => "true", "data-dismiss" => "modal", class: 'cancel'} Cancel
