/ Page header
- titles 'Phone Numbers', 'all phone numbers', :phone_numbers

/ Page body
.row
  .span12.table-tools
    - if can? :create, PhoneNumber
      = link_to 'Search for a new Phone Number', search_organization_phone_numbers_path(@organization), :class => 'btn btn-success btn-small pull-right'
    - else
      = link_to 'Search for a new Phone Number', '#', :class => 'btn btn-disabled btn-small pull-right'

.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th.span1
          %th Phone Number
          %th Phone Books
          %th Monthly fee
      %tbody
        - if @phone_numbers.empty?
          %tr
            %td{'colspan'=>4}
              %em No phone numbers are configured for your account.
        - @phone_numbers.each do |phone_number|
          %tr
            %td= split_dropdown_list([ |
                { label: 'Details', icon: :show, link: [@organization, phone_number], if: can?(:show, phone_number) }, |
                { label: 'Delete', icon: :delete, link: [@organization, phone_number], options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, phone_number) } |
              ], { class: 'btn-mini' }) |
            %td= link_to humanize_phone_number(phone_number.number), [@organization, phone_number]
            %td= phone_number.phone_books.count
            %td= currency_for phone_number.cost
