/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :phone_numbers )
        Phone Numbers
        %small all phone numbers

/ Page body
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th Phone Number
          %th Directories
          %th Monthly fee
          %th
      %tbody
        - if @phone_numbers.empty?
          %tr
            %td{'colspan'=>4}
              %em No phone numbers are configured for your account.
        - @phone_numbers.each do |phone_number|
          %tr
            %td= phone_number.number
            %td= phone_number.phone_directories.count
            %td= phone_number.cost
            -# %td= link_to 'Show', phone_number
            -# %td= link_to 'Edit', edit_phone_number_path(phone_number)
            -# %td= link_to 'Destroy', phone_number, method: :delete, data: { confirm: 'Are you sure?' }

    = link_to 'Search for a new Phone Number', search_phone_numbers_path, :class => 'btn btn-success'
