-# Page header
- headings 'Phone Numbers', 'search', :phone_numbers
- breadcrumb :organization_phone_number_search, @organization

-# Page body
.row
  .col-sm-3
    %h4 Locals
    %p
      - supported_countries_local.each do |country|
        = link_to flag_icon(country.alpha2), new_organization_phone_number_path(@organization, params: {country: country.alpha2, kind: 'local'})

    %h4 Mobiles
    %p
      - supported_countries_mobile.each do |country|
        = link_to flag_icon(country.alpha2), new_organization_phone_number_path(@organization, params: {country: country.alpha2, kind: 'mobile'})

    - if supported_countries_local(true).any?
      %h4
        Locals
        = llabel('beta')
      %p
        - supported_countries_local(true).each do |country|
          = link_to flag_icon(country.alpha2), new_organization_phone_number_path(@organization, params: {country: country.alpha2, kind: 'local'})

    - if supported_countries_mobile(true).any?
      %h4
        Mobiles
        = llabel('beta')
      %p
        - supported_countries_mobile(true).each do |country|
          = link_to flag_icon(country.alpha2), new_organization_phone_number_path(@organization, params: {country: country.alpha2, kind: 'mobile'})

    %h4 Search
    = form_tag( new_organization_phone_number_path(@organization, params: {country: params[:country], kind: params[:kind]}), method: :get, role: 'form' ) do
      = hidden_field_tag :country, params[:country]
      = hidden_field_tag :kind, params[:kind]
      - if ['US', 'CA'].include? params[:country]
        .form-group
          = label_tag :area_code
          = text_field_tag :area_code, params[:area_code], placeholder: 'Area Code', class: 'form-control input-sm'
      .form-group
        = label_tag :contains
        = text_field_tag :contains, params[:contains], placeholder: 'Contains', class: 'form-control input-sm'
      = submit_tag 'Search', class: 'btn-sm'

  .col-sm-9
    %table.list
      %thead
        %tr
          %th
          %th Phone Number
          %th Location
          %th Monthly fee
      %tbody
        = render(partial: 'available_phone_number', collection: @available_phone_numbers, locals: {organization: @organization}) || render(partial: 'no_available_phone_numbers')

= render partial: 'show_available_phone_number_modal', collection: @available_phone_numbers, as: :available_phone_number, locals: {organization: @organization}