-# Page header
- headings 'Phone Numbers', 'search', :phone_numbers
- breadcrumb :organization_phone_number_search, @organization

-# Sidebar
- content_for :sidebar do
  = navigation_list([ |
    { header: 'Search for a Local Number' }, |
    *supported_countries_local_navigation_list_fragment, |
    { header: 'Search for a Mobile Number' }, |
    *supported_countries_mobile_navigation_list_fragment, |
    { header: 'Related' }, |
    { label: 'All Phone Numbers', icon: :phone_numbers, link: organization_phone_numbers_path(@organization) }, |
    ]) |

-# Page body
.row
  .col-sm-3
    %h4 Locals
    %p
      - supported_countries_local.each do |country|
        = link_to flag_icon(country.alpha2), search_organization_phone_numbers_path(@organization, country.alpha2, 'local')

    %h4 Mobiles
    %p
      - supported_countries_mobile.each do |country|
        = link_to flag_icon(country.alpha2), search_organization_phone_numbers_path(@organization, country.alpha2, 'mobile')

    %h4 Search
    = form_tag( search_organization_phone_numbers_path(@organization, params[:country]), method: :get, role: 'form' ) do
      - if ['US', 'CA'].include? params[:country]
        .form-group
          = label_tag :area_code
          = text_field_tag :area_code, params[:area_code], placeholder: 'Area Code', class: 'form-control input-sm'
      .form-group
        = label_tag :contains
        = text_field_tag :contains, params[:contains], placeholder: 'Contains', class: 'form-control input-sm'
      = submit_tag 'Search', class: 'btn btn-primary btn-sm'

  .col-sm-9
    %table.list
      %thead
        %tr
          %th.span1
          %th Phone Number
          %th Location
          %th Monthly fee
      %tbody
        - if @available_phone_numbers.empty?
          %tr
            %td{'colspan'=>4}
              %em No phone numbers were found matching your search.
        - @available_phone_numbers.first(@numbers_to_show).each do |phone_number|
          - modal_id = phone_number.phone_number.to_s.gsub(/\D/,'')
          %tr
            %td
              = form_tag( organization_phone_numbers_path(@organization), method: :post, style:'margin:0px; padding:0px' ) do
                = hidden_field_tag :phone_number, phone_number.phone_number
                = submit_tag 'Buy', class: 'btn btn-primary btn-xs'
            %td= link_to humanize_phone_number(phone_number.phone_number), "#info#{modal_id}", data: {toggle: 'modal'}
            %td
              #{flag_icon(phone_number.iso_country)} #{phone_number.iso_country}
              - unless phone_number.region.blank?
                \- #{phone_number.region}
            %td
              = currency_for Twilio.assumed_phone_number_price( phone_number.iso_country )

-# @available_phone_numbers.first(5).each_with_index do |phone_number, index|
= render partial: 'info_modal', collection: @available_phone_numbers.first(@numbers_to_show), as: :phone_number