/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :phone_numbers )
        Phone Numbers
        %small search

/ Page body
.row
  .span3= navigation_list([ |
    { header: 'Search by Country' }, |
    { label: 'Canada', icon: :phone_numbers, link: search_organization_phone_numbers_path(@organization, 'CA'), active: ( params[:country] == 'CA' ) }, |
    { label: 'United Kingdom', icon: :phone_numbers, link: search_organization_phone_numbers_path(@organization, 'GB'), active: ( params[:country] == 'GB' ) }, |
    { label: 'United States', icon: :phone_numbers, link: search_organization_phone_numbers_path(@organization, 'US'), active: ( params[:country] == 'US' ) }, |
    { header: 'Related' }, |
    { label: 'All Phone Numbers', icon: :phone_numbers, link: organization_phone_numbers_path(@organization) }, |
    ]) |

  .span9
    = form_tag( search_organization_phone_numbers_path(@organization, params[:country]), method: :get, class:'form-inline' ) do
      .input-prepend
        %span.add-on Area Code
        = text_field_tag :area_code, params[:area_code], placeholder: 'Area Code', class: 'input-small'
      .input-prepend
        %span.add-on Contains
        = text_field_tag :contains, params[:contains], placeholder: 'Contains', class: 'input-medium'
      = submit_tag 'Search', class: 'btn'
      = link_to 'Reset', search_organization_phone_numbers_path(@organization, params[:country]), class: 'btn'
  
    %table.table.table-striped
      %thead
        %tr
          %th.span1
          %th Phone Number
          %th Country
          %th Monthly fee
      %tbody
        - if @available_phone_numbers.empty?
          %tr
            %td{'colspan'=>4}
              %em No phone numbers were found matching your search.
        - @available_phone_numbers.first(5).each do |phone_number|
          - modal_id = phone_number.phone_number.to_s.gsub(/\D/,'')
          %tr
            %td
              = form_tag( buy_organization_phone_numbers_path(@organization), method: :post, style:'margin:0px; padding:0px' ) do
                = hidden_field_tag :phone_number, phone_number.phone_number
                = submit_tag 'Buy', class: 'btn btn-primary btn-mini'
            %td= link_to humanize_phone_number(phone_number.phone_number), "#info#{modal_id}", 'data-toggle' => 'modal'
            %td
              #{flag_icon(phone_number.iso_country)} #{phone_number.iso_country}
              - unless phone_number.region.blank?
                \- #{phone_number.region}
            %td
              = number_to_currency Twilio.assumed_phone_number_price( phone_number.iso_country ), unit: 'US$', precision: 2
    -# @available_phone_numbers.first(5).each_with_index do |phone_number, index|
    = render partial: 'info_modal', collection: @available_phone_numbers.first(5), as: :phone_number