-# Page Header
- headings 'Phone Number', humanize_phone_number(@phone_number.number), :phone_numbers
- breadcrumb @phone_number

- if @phone_number.active? && @phone_number.phone_books.empty?
  .flash-warning
    %strong Head's up!
    This Phone Number is not used in any Phone Books.

- if @phone_number.inactive?
  .flash-info
    %strong Inactive!
    This Phone Number is inactive and cannot be used to start or monitor conversations.

%p
  %b Number:
  = humanize_phone_number @phone_number.number
  = status_label_for(@phone_number)

%p
  %b Country:
  = flag_icon_for @phone_number
  = country_name_for @phone_number

%p
  %b Monthly fee:
  = currency_for @organization.price_for(@phone_number)

%h3 Actions
.row
  .col-sm-4 When receiving an unsolicited SMS...
  .col-sm-8
    - case @phone_number.unsolicited_sms_action
      - when PhoneNumber::IGNORE
        %p Ignore the message.
        %p
          %small (Note: This does not incur a fee. However, your account will still be charged for the inbound message.)
      - when PhoneNumber::REPLY
        %p Reply with the following message:
        %p.well= @phone_number.unsolicited_sms_message
        %p
          %small (Note: This will incur a fee for each inbound message as well as each reply message sent.)
.row
  .col-sm-4 When receiving an unsolicited call...
  .col-sm-8
    - case @phone_number.unsolicited_call_action
      - when PhoneNumber::REJECT
        %p Do not answer and play an out-of-service message.
        %p
          %small (Note: This does not incur a fee.)
      - when PhoneNumber::BUSY
        %p Do not answer and play a line-is-busy message.
        %p
          %small (Note: This does not incur a fee.)
      - when PhoneNumber::REPLY
        %p Answer with the following #{call_language(@phone_number.unsolicited_call_language)} message using a #{call_voice(@phone_number.unsolicited_call_voice)} voice:
        %p.well= @phone_number.unsolicited_call_message
        %p
          %small (Note: This will incur a fee for each call answered.)

%h3 Phone Books using this Phone Number
%table.list
  %thead
    %tr
      %th
      %th Phone Book
      %th Region
      %th Last Used
  %tbody= render(partial: 'phone_book_entry', collection: @phone_number.phone_book_entries) || "<tr><td colspan=\"4\" class=\"text-muted text-center\">No phone books use this phone number! #{ link_to 'Add this phone number', '#phone_book_entry_modal', data: { toggle: 'modal' } } to a phone book to get started.</td></tr>".html_safe
