%p#notice= notice
%p
  %b Account:
  = @phone_number.account
%p
  %b Encrypted number:
  = @phone_number.encrypted_number
%p
  %b Provider cost:
  = @phone_number.provider_cost
%p
  %b Our cost:
  = @phone_number.our_cost
= link_to 'Edit', edit_phone_number_path(@phone_number)
|
\#{link_to 'Back', phone_numbers_path}
