#phone_book_entry_modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "PhoneBookEntryModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_for( [@organization, @phone_book.phone_book_entries.build] ) do |f|
        .modal-header
          / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h3
            = icon(:plus)
            Add Phone Number
        .modal-body
          = f.hidden_field :phone_book_id      
          .icon-field
            .icon= icon(:phone_numbers, class: 'fa-4x')
            .field
              = f.label :phone_number_id do
                Use this number...
              = f.collection_select :phone_number_id, @phone_book.organization.phone_numbers, :id, :human_number #, class: 'input-small'
    
          .icon-field
            .icon= icon(:globe, class: 'fa-4x')
            .field
              = f.label :country do
                \...when conversing with phone numbers in this country
              = f.country_select :country, nil, iso_codes: true, include_blank: 'Anywhere'
    
        .modal-footer
          = f.submit 'Add Phone Number'
          %button{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
