= form_for( [@organization, @phone_book], :html => { :class => 'general' } ) do |f|
  = render partial: 'alert_errors', object: @phone_book.errors

  .field
    = f.label :label
    .inputs
      = f.text_field :label, { required: true }
      %span.help-block Required

  .field
    = f.label :description
    .inputs= f.text_area :description, :rows => 3

  .field
    .actions
      = f.submit
      = link_to 'Discard changes', [@organization, @phone_book], :class => 'btn btn-default'
