= form_for( [@organization, @phone_book], :html => { :class => 'general' } ) do |f|
  - if @phone_book.errors.any?
    #error_explanation
      %h2
        = pluralize(@phone_book.errors.count, "error")
        prohibited this phone_book from being saved:
      %ul
        - @phone_book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :label
    .inputs
      = f.text_field :label, { required: true }
      %span.help-block Required

  .field
    = f.label :description
    .inputs= f.text_area :description, :rows => 3

  .field
    .actions
      = f.submit
      = link_to 'Discard changes', [@organization, @phone_book], :class => 'btn btn-default'
