%tr
  %td= split_dropdown_list([ |
    { label: 'Details', icon: :show, link: [phone_book_entry.phone_number.organization, phone_book_entry.phone_number], if: can?(:show, phone_book_entry.phone_number) }, |
    { label: 'Remove from book', icon: :delete, link: [phone_book_entry.phone_number.organization, phone_book_entry], options: { method: :delete }, if: can?(:destroy, phone_book_entry) } |
    ], {class:'btn-xs'}) |
  %td
    - if can?(:show, phone_book_entry.phone_number)
      = link_to [phone_book_entry.phone_number.organization, phone_book_entry.phone_number] do
        = flag_icon(phone_book_entry.phone_number.country)
        = humanize_phone_number(phone_book_entry.phone_number.number)
    - else
      = flag_icon(phone_book_entry.phone_number.country)
      = humanize_phone_number(phone_book_entry.phone_number.number)

  %td
    - if phone_book_entry.country.blank?
      = flag_icon()
      %em Any
    - else
      = flag_icon(phone_book_entry.country)
      = Country[phone_book_entry.country].name rescue phone_book_entry.country
