%tr
  %td= split_dropdown_list([ |
      { label: 'Details', icon: :show, link: [phone_book.organization, phone_book], if: can?(:show, phone_book) }, |
      { label: 'Edit', icon: :edit, link: edit_organization_phone_book_path(phone_book.organization, phone_book), if: can?(:edit, phone_book) }, |
      { label: 'Delete', icon: :delete, link: "#delete_phone_book_#{ phone_book.id }", options: { data: { toggle: 'modal' } }, if: ( can?(:destroy, phone_book) && phone_book.stencils.empty? ) }, |
    ], { class: 'btn-xs' }) |
  %td= link_to iconify(phone_book.label, :phone_book), [phone_book.organization, phone_book]
  %td
    %small
      - if phone_book.description.blank?
        %em No description configured.
      - else
        = phone_book.description
  %td
    = link_to iconify(phone_book.phone_book_entries.count, :phone_number), [phone_book.organization, phone_book]
    - if phone_book.phone_book_entries.empty?
      = warning_label('This Phone Book does not have any Phone Numbers! Add a Phone Number to use it in a Stencil.')

  %td
    = link_to iconify(phone_book.stencils.count, :stencils), [phone_book.organization, phone_book]
    - if phone_book.stencils.empty?
      = warning_label('This Phone Book is not used by any Stencils! Assign it to a Stencil to use it.')
