.actions
  -# If can view all phone books
  - if can?(:index, PhoneBook)
    = link_to iconify('Phone books', :phone_books), organization_phone_books_path(@organization)

  -# If no book present, allow creating a new one
  - if can?(:new, PhoneBook) && !@phone_book.present?
    = link_to iconify('Add phone book', :plus), new_organization_phone_book_path(@organization)
    
- if @phone_book.try(:persisted?)
  .actions
    -# Add number
    - if can?(:edit, @phone_book)
      = link_to iconify('Add a phone number', :phone_numbers), '#phone_book_entry_modal', data: {toggle: 'modal'}
      = render partial: 'add_phone_number_modal'

  .actions
    -# Allow viewing
    - if can?(:show, @phone_book)
      = link_to iconify('Details', :show), [@organization, @phone_book]
      
    -# Allow editing
    - if can?(:edit, @phone_book)
      = link_to iconify('Edit', :edit), edit_organization_phone_book_path(@organization, @phone_book)
  
    -#
      - #Disable
      - if @phone_book.active?
        = link_to iconify('Disable', :disable), "#disable_phone_book_#{ @phone_book.id }", data: {toggle: 'modal'}
        = render partial: 'disable_object_modal', object: @phone_book, as: :object
      - else
        = link_to iconify('Enable', :enable), "#enable_phone_book_#{ @phone_book.id }", data: {toggle: 'modal'}
        = render partial: 'enable_object_modal', object: @phone_book, as: :object
  
    -# Allow deleting
    - if can?(:destroy, @phone_book) && @phone_book.stencils.none?
      = link_to iconify('Delete', :delete), "#delete_phone_book_#{ @phone_book.id }", class: 'delete', data: {toggle: 'modal'}
      = render partial: 'delete_object_modal', object: @phone_book, as: :object

- if @phone_book
  .related
    %span.tag Related
    = link_to icon(:phone_numbers), organization_phone_numbers_path(@organization)
    = link_to icon(:phone_books),   organization_phone_books_path(@organization)
