/ Page Header
- titles 'Phone Books', 'all phone books', :phone_books

/ Table header
.row
  .span12.table-tools
    - if can? :new, PhoneBook      
      %div.pull-right= link_to 'New Phone Book', new_organization_phone_book_path(@organization), :class => 'btn btn-success btn-small'

/ Page body
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th.span1
          %th Directory
          %th Description
          %th
            = icon(:phone_numbers)
            Phone numbers
          %th
            = icon(:stencils)
            Stencils
      %tbody
        - @phone_books.order('label desc').each do |phone_book|
          %tr
            %td= split_dropdown_list([ |
                { label: 'Details', icon: :show, link: [@organization, phone_book], if: can?(:show, phone_book) }, |
                { label: 'Edit', icon: :edit, link: edit_organization_phone_book_path(@organization, phone_book), if: can?(:edit, phone_book) }, |
                { label: 'Delete', icon: :delete, link: [@organization, phone_book], options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, phone_book) } |
              ], { class: 'btn-mini' }) |
            %td= link_to phone_book.label, [@organization, phone_book]
            %td
              %small
                - if phone_book.description.blank?
                  %em No description configured.
                - else
                  = phone_book.description
            %td
              = phone_book.phone_book_entries.count
              - if phone_book.phone_book_entries.empty?
                = warning_label('This Phone Book does not have any Phone Numbers! Add a Phone Number to use it in a Stencil.')

            %td= phone_book.stencils.count
