-# Page Header
- headings 'Phone Books', @phone_book.label, :phone_books
- breadcrumb @phone_book

-# Sidebar
- content_for :sidebar do
  = render 'navlist'

- unless @phone_book.description.blank?
  %p.well= @phone_book.description

.pull-right= link_to 'Add Phone Number', '#phone_book_entry_modal', class: 'btn btn-primary btn-sm', 'data-toggle' => 'modal'
%h4 Phone numbers
%table.table.table-striped
  %thead
    %tr
      %th.span1
      %th Number
      %th Country
  %tbody
    - if @phone_book.phone_book_entries.empty?
      %tr
        %td{colspan: 3}
          %em No phone numbers are used by this book.
    
    - @phone_book.phone_book_entries( order: 'number, country' ).each do |entry|
      %tr
        %td= split_dropdown_list([ |
          { label: 'Details', icon: :show, link: [@organization, entry.phone_number], if: can?(:show, entry.phone_number) }, |
          { label: 'Remove from book', icon: :delete, link: [@organization, entry], options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, entry) } |
          ], {class:'btn-xs'}) |
        %td
          - if can?(:show, entry.phone_number)
            = link_to [@organization, entry.phone_number] do
              = flag_icon(entry.phone_number.country)
              = humanize_phone_number(entry.phone_number.number)
          - else
            = flag_icon(entry.phone_number.country)
            = humanize_phone_number(entry.phone_number.number)

        %td
          - if entry.country.blank?
            = flag_icon()
            %em Any
          - else
            = flag_icon(entry.country)
            = Country[entry.country].name rescue entry.country

%h4 Stencils using this book
%table.table.table-striped
  %thead
    %tr
      %th.span1
      %th Stencil
  %tbody
    - if @phone_book.stencils.empty?
      %tr
        %td{colspan: 2}
          %em No stencils use this book.

    - @phone_book.stencils.each do |stencil|
      %tr
        %td= split_dropdown_list([ |
            { label: 'Details', icon: :show, link: [@organization, stencil], if: can?(:show, stencil) }, |
            { label: 'Edit', icon: :edit, link: edit_organization_stencil_path(@organization, stencil), if: can?(:edit, stencil) }, |
            { label: 'Delete', icon: :delete, link: [@organization, stencil], options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, stencil) }, |
            { label: 'Conversations', icon: :conversations, link: organization_stencil_conversations_path(@organization, stencil), if: can?(:show, Conversation) } |
            ], { class: "btn-xs"} ) |
        %td= link_to_if can?(:show, stencil), stencil.label, [@organization, stencil]


#phone_book_entry_modal.modal.hide.fade{ "aria-hidden" => "true", "aria-labelledby" => "PhoneBookEntryModal", :role => "dialog", :tabindex => "-1"}
  = form_for( [@organization, @phone_book.phone_book_entries.build], :html => { class: "form-horizontal", style: 'margin: 0px;' } ) do |f|
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h3
        = icon(:phone_books)
        Add Phone Number
    .modal-body
      = f.hidden_field :phone_book_id      
      .row-fluid
        .span2= icon(:phone_numbers, class: 'icon-3x')
        .span10
          = f.label :phone_number_id do
            Use this number...
          = f.collection_select :phone_number_id, @phone_book.organization.phone_numbers, :id, :human_number #, class: 'input-small'

      .row-fluid{style: 'margin-top: 2.0em;'}
        .span2= icon(:globe, class: 'icon-3x')
        .span10
          = f.label :country do
            \...when conversing with phone numbers in this country
          = f.country_select :country, nil, iso_codes: true, include_blank: 'Any'

    .modal-footer
      = f.submit 'Add Phone Number', class: 'btn btn-primary'
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
