- cache phone_book_entry.model do
  .modal.fade[phone_book_entry.model, :edit]
    .modal-dialog
      .modal-content
        = form_for(phone_book_entry.model) do |f|
          .modal-header
            %h4.modal-title= iconify('Edit', :edit)
          .modal-body
            %p Add or update entries in the #{ phone_book_entry.phone_book.name } phone book. This will controle which phone numbers are used when starting a conversation with phone numbers in other countries. If multiple phone numbers are set to the same country, then one of those numbers will be randomly selected when starting the conversation.
            .form-group
              = f.label :phone_number_id
              = f.collection_select :phone_number_id, policy_scope(@team.phone_numbers).decorate, :id, :display_name, {}, { class: 'form-control' }

            .form-group
              = f.label :phone_book_id
              = f.collection_select :phone_book_id, policy_scope(@team.phone_books).decorate, :id, :display_name, {}, { class: 'form-control' }

            .form-group
              = f.label :country
              = f.country_select :country, { include_blank: 'Global' }, { class: 'form-control' }

          .modal-footer
            = f.submit 'Save phone book', class: 'btn btn-primary'
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Discard changes
