- content_for :title, 'Sign In'

= form_for( resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" } ) do |f|
  .modal.inline-modal
    .modal-header
      %h3 Sign in
    .modal-body

      = link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-google-plus' do
        = icon 'google-plus', style: 'font-size: 150%'
        %span.text= t 'Sign in with Google'

      %hr
      
      %h4{ style: 'margin-bottom: 16px;' } Use a SignalCloud account
      .control-group
        = f.label :email, :class => 'control-label'
        .controls= f.email_field :email
      .control-group
        = f.label :password, :class => 'control-label'
        .controls= f.password_field :password
      - if devise_mapping.rememberable?
        .control-group
          = f.label :remember_me, :class => 'control-label'
          .controls= f.check_box :remember_me
    .modal-footer
      / %a.btn{:href => "#"} Close
      %div
        = f.submit "Sign in", class: 'btn btn-primary'
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          = link_to "Forgot your password?", new_password_path(resource_name), :class => 'btn'

= render "devise/shared/links"
