- headings('Sign in', 'and get started')

= form_for( resource, :as => resource_name, :url => session_path(resource_name), class: 'general' ) do |f|
  .field{ has_error(resource, :email) }
    = f.label :email
    .inputs= f.email_field :email

  .field{ has_error(resource, :password) }
    = f.label :password
    .inputs= f.password_field :password

  - if devise_mapping.rememberable?
    .field
      .actions
        = f.check_box :remember_me
        = f.label :remember_me

  .field
    .actions
      = f.submit "Sign in", class: 'btn btn-primary'
      - if devise_mapping.recoverable? && controller_name != 'passwords'
        = link_to "Forgot your password?", new_password_path(resource_name), :class => 'btn'

= render "devise/shared/links"
