/
  %h2 Sign in
  = form_for( resource, :as => resource_name, :url => session_path(resource_name) ) do |f|
    %div
      = f.label :email
      %br/
      = f.email_field :email
    %div
      = f.label :password
      %br/
      = f.password_field :password
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
        = f.label :remember_me
    %div= f.submit "Sign in"
  = render "devise/shared/links"

= form_for( resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" } ) do |f|
  .modal.inline-modal
    .modal-header
      / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h3 Sign in
    .modal-body
      .control-group
        = f.label :email, :class => 'control-label'
        .controls= f.email_field :email
      .control-group
        = f.label :password, :class => 'control-label'
        .controls= f.password_field :password
      - if devise_mapping.rememberable?
        .control-group
          = f.label :remember_me, :class => 'control-label'
          .controls= f.check_box :remember_me
    .modal-footer
      / %a.btn{:href => "#"} Close
      %div
        = f.submit "Sign in", class: 'btn btn-primary'
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          = link_to "Forgot your password?", new_password_path(resource_name), :class => 'btn'

= render "devise/shared/links"
