/ Page header
- headings t('devise.invitations.edit.header'), 'invites', :invite

= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token

  %fieldset
    %legend Tell us a bit about you

    .field{ has_error(resource, :name) }
      = f.label :name
      .inputs= f.text_field :name
    .field{ has_error(resource, :nickname) }
      = f.label :nickname
      .inputs= f.text_field :nickname
    .field{ has_error(resource, :email) }
      = f.label :email
      .inputs= f.email_field :email

  %fieldset
    %legend Set up your password

    .field{ has_error(resource, :password) }
      = f.label :password
      .inputs= f.password_field :password
    .field{ has_error(resource, :password_confirmation) }
      = f.label :password_confirmation
      .inputs= f.password_field :password_confirmation

  %p= f.submit t("devise.invitations.edit.submit_button")