/ Page header
- headings 'Users', 'invite user', :users

/ Page body
.row
  .span3
  .span9
    = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, class: 'general'} do |f|
      = devise_error_messages!

      .field
        = f.label :email
        .inputs= f.email_field :email, placeholder: 'someone@somewhere.com'

      - if current_user.is_organization_administrator_for?(@organization)
        - UserRole::ROLES.each do |role|
          .field
            .inputs.col-xs-2-offset
              = check_box_tag 'user_role[roles][]', role, @user_role.roles.include?(role), { id: 'user_role_%s' % role }
              = role.to_s.humanize

      .field
        .actions= f.submit t("devise.invitations.new.submit_button")
