= form_for( @stencil, :html => { :class => 'form-horizontal' } ) do |f|
  - if @stencil.errors.any?
    #error_explanation
      %h2
        = pluralize(@stencil.errors.count, "error")
        prohibited this stencil from being saved:
      %ul
        - @stencil.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :label, :class => 'control-label'
    .controls= f.text_field :label
  .control-group
    = f.label :description, :class => 'control-label'
    .controls= f.text_area :description, :rows=>2
  .control-group
    = f.label :phone_book, :class => 'control-label'
    .controls= f.collection_select :phone_book_id, @stencil.organization.phone_books, :id, :label
  .control-group
    = f.label :seconds_to_live, :class => 'control-label'
    .controls= f.number_field :seconds_to_live
  .control-group
    = f.label :question, :class => 'control-label'
    .controls= f.text_area :question, :rows=>3
  .control-group
    = f.label :expected_confirmed_answer, :class => 'control-label'
    .controls= f.text_area :expected_confirmed_answer, :rows=>3
  .control-group
    = f.label :expected_denied_answer, :class => 'control-label'
    .controls= f.text_area :expected_denied_answer, :rows=>3
  .control-group
    = f.label :confirmed_reply, :class => 'control-label'
    .controls= f.text_area :confirmed_reply, :rows=>3
  .control-group
    = f.label :denied_reply, :class => 'control-label'
    .controls= f.text_area :denied_reply, :rows=>3
  .control-group
    = f.label :failed_reply, :class => 'control-label'
    .controls= f.text_area :failed_reply, :rows=>3
  .control-group
    = f.label :expired_reply, :class => 'control-label'
    .controls= f.text_area :expired_reply, :rows=>3

  .control-group.actions
    .controls
      = f.submit :class => 'btn btn-primary'
      = link_to 'Discard changes', @stencil, :class => 'btn'
