= form_for( [@organization, @stencil], :html => { :class => 'form-horizontal' } ) do |f|
  - if @stencil.errors.any?
    #error_explanation
      %h2
        = pluralize(@stencil.errors.count, "error")
        prohibited this stencil from being saved:
      %ul
        - @stencil.errors.full_messages.each do |msg|
          %li= msg

  %h4 General Details
  .control-group
    = f.label :label, :class => 'control-label'
    .controls= f.text_field :label
  .control-group
    = f.label :description, :class => 'control-label'
    .controls= f.text_area :description, :rows=>2, cols: 80

  %h4 Ask...
  .row-fluid
    .span1= icon('question-sign', class: 'icon-3x')
    .span11
      = f.label :question do
        Ask this question...
      = f.text_area :question, rows: 3, style: 'width: 100%'
    
  .row-fluid{style: 'margin-top: 3.0em;'}
    .span1= icon(:phone_books, class: 'icon-3x')
    .span11
      = f.label :phone_book_id do
        \...using this phone book...
      = f.collection_select :phone_book_id, @stencil.organization.phone_books, :id, :label
    
  .row-fluid{style: 'margin-top: 3.0em;'}
    .span1= icon(:globe, class: 'icon-3x')
    .span11
      = f.label :webhook_uri do
        \...and send conversation updates to this URI
      = f.text_field :webhook_uri, style: 'width: 100%;'
      %p.tip{ style: 'margin-top: .5em' }
        %span.label.label-info Tip
        Leave blank to not send updates

  %h4{ style: 'margin-top: 2em;'} ...Answer

  / Confirmed Reply
  .row-fluid
    .span1= icon(:confirmed, class: 'icon-3x')
    .span5
      = f.label :expected_confirmed_answer do
        When receiving this answer...
      = f.text_area :expected_confirmed_answer, rows: 3, style: 'width: 100%'
    .span1{style: 'text-align: center' }= icon('arrow-right', class: 'icon-2x', style: 'margin-left: .5em' )
    .span5
      = f.label :confirmed_reply do
        \...reply with this message
      =f.text_area :confirmed_reply, :rows=>3, style: 'width: 100%'
      %p{ style: 'margin-top: 8px' }
        \...and mark the conversation as
        %span.label.label-confirmed
          = icon(:confirmed)
          confirmed
  %hr

  / Denied Reply
  .row-fluid
    .span1= icon(:denied, class: 'icon-3x')
    .span5
      = f.label :expected_denied_answer do
        When receiving this answer...
      = f.text_area :expected_denied_answer, rows: 3, style: 'width: 100%'
    .span1{style: 'text-align: center' }= icon('arrow-right', class: 'icon-2x', style: 'margin-left: .5em' )
    .span5
      = f.label :denied_reply do
        \...reply with this message
      =f.text_area :denied_reply, :rows=>3, style: 'width: 100%'
      %p{ style: 'margin-top: 8px' }
        \...and mark the conversation as
        %span.label.label-denied
          = icon(:denied)
          denied
  %hr
    
  / Failed Reply
  .row-fluid
    .span1= icon(:failed, class: 'icon-3x')
    .span5 When receiving any other answer...
    .span1{style: 'text-align: center' }= icon('arrow-right', class: 'icon-2x', style: 'margin-left: .5em' )
    .span5
      = f.label :failed_reply do
        \...reply with this message
      =f.text_area :failed_reply, :rows=>3, style: 'width: 100%'
      %p{ style: 'margin-top: 8px' }
        \...and mark the conversation as
        %span.label.label-failed
          = icon(:failed)
          failed
  %hr

  / Expired Reply
  .row-fluid
    .span1= icon(:expired, class: 'icon-3x')
    .span5
      = f.label :seconds_to_live do
        If no answer is received in...
      = f.number_field :seconds_to_live
      seconds
    .span1{style: 'text-align: center' }= icon('arrow-right', class: 'icon-2x', style: 'margin-left: .5em' )
    .span5
      = f.label :expired_reply do
        \...send this message
      =f.text_area :expired_reply, :rows=>3, style: 'width: 100%'
      %p{ style: 'margin-top: 8px' }
        \...and mark the conversation as
        %span.label.label-expired
          = icon(:expired)
          expired

  .control-group.actions
    .controls
      = f.submit :class => 'btn btn-primary'
      = link_to 'Discard changes', [@organization, @stencil], :class => 'btn'
