= form_for( [@organization, @stencil], :html => { :class => 'with-icons' } ) do |f|
  = render partial: 'alert_errors', object: @stencil.errors

  %fieldset
    %legend General Details
    .field-with-icon
      = icon(:stencils, class: 'icon fa-4x')
      .field
        = f.label :label
        .inputs= f.text_field :label
    .field-with-icon
      .field.col-sm-offset-2
        = f.label :description
        .inputs= f.text_area :description, rows: 2

  %fieldset
    %legend Ask...
    .field-with-icon
      = icon('question-circle', class: 'icon fa-4x')
      .field
        = f.label :question, 'Ask this question...'
        = f.text_area :question, rows: 3
      
    .field-with-icon
      = icon(:phone_books, class: 'icon fa-4x')
      .field
        = f.label :phone_book_id, '...using this phone book...'
        = f.collection_select :phone_book_id, @stencil.organization.phone_books, :id, :label
      
    .field-with-icon
      = icon(:globe, class: 'icon fa-4x')
      .field
        = f.label :webhook_uri, '...and send conversation updates to this URI'
        = f.text_field :webhook_uri, style: 'width: 100%;'
        %p.help-block
          = llabel 'Tip', :info
          Leave blank to not send updates

  %fieldset
    %legend ...Answer

    / Confirmed Reply
    .field-with-icon
      = icon(:confirmed, class: 'icon fa-4x')
      .col-sm-4
        = f.label :expected_confirmed_answer do
          When receiving this answer...
        = f.text_area :expected_confirmed_answer, rows: 3
      = icon('arrow-right', class: 'icon fa-3x' )
      .col-sm-4
        = f.label :confirmed_reply do
          \...reply with this message
        =f.text_area :confirmed_reply
        %p.help-block
          \...and mark the conversation as
          %span.label.label-confirmed
            = icon(:confirmed)
            confirmed
    %hr
  
    / Denied Reply
    .field-with-icon
      = icon(:denied, class: 'icon fa-4x')
      .col-sm-4
        = f.label :expected_denied_answer do
          When receiving this answer...
        = f.text_area :expected_denied_answer, rows: 3
      = icon('arrow-right', class: 'icon fa-3x' )
      .col-sm-4
        = f.label :denied_reply do
          \...reply with this message
        =f.text_area :denied_reply
        %p.help-block
          \...and mark the conversation as
          %span.label.label-denied
            = icon(:denied)
            denied
    %hr
      
    / Failed Reply
    .field-with-icon
      = icon(:failed, class: 'icon fa-4x')
      .col-sm-4 When receiving any other answer...
      = icon('arrow-right', class: 'icon fa-3x' )
      .col-sm-4
        = f.label :failed_reply do
          \...reply with this message
        =f.text_area :failed_reply
        %p.help-block
          \...and mark the conversation as
          %span.label.label-failed
            = icon(:failed)
            failed
    %hr
  
    / Expired Reply
    .field-with-icon
      = icon(:expired, class: 'icon fa-4x')
      .col-sm-4
        = f.label :seconds_to_live do
          If no answer is received in...
        = f.number_field :seconds_to_live
        seconds
      = icon('arrow-right', class: 'icon fa-3x' )
      .col-sm-4
        = f.label :expired_reply do
          \...send this message
        =f.text_area :expired_reply
        %p.help-block
          \...and mark the conversation as
          %span.label.label-expired
            = icon(:expired)
            expired

  .actions
    = f.submit
    = link_to 'Discard changes', [@organization, @stencil], :class => 'cancel'
