%tr
  %td= stencil.name_with_link
  %td= stencil.workflow_state_with_icon
  %td= stencil.description
  %td= stencil.phone_book.link_to
  %td
    = stencil.small_show_button
    = stencil.small_edit_button
