.row
  .span12
    .page-header
      %h1
        = icon(:stencils)
        Stencils
        %small all stencils

.row
  .span12.table-tools
    = filter_dropdown_list()
    - if can? :new, Stencil      
      .pull-right= link_to 'New Stencil', new_organization_stencil_path(@organization), :class => 'btn btn-success btn-small'

.row
  .span12
    %table.table
      %thead
        %tr
          %th.span1
          %th Stencil
          %th Book
          %th Active
          %th Description
          %th Open conversations
      %tbody
        - if @stencils.empty?
          %tr
            %td{ colspan: 6 }
              %em No stencils match your selected filters. Please change your filters to view other items.
        
        - @stencils.each do |stencil|
          %tr
            %td= split_dropdown_list([ |
              { label: 'Details', icon: :show, link: [ @organization, stencil ], if: can?(:show, stencil) }, |
              { label: 'Edit', icon: :edit, link: edit_organization_stencil_path(@organization, stencil), if: can?(:edit, stencil) }, |
              { label: 'Delete', icon: :delete, link: [ @organization, stencil ], options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, stencil) }, |
              { label: 'Conversations', icon: :conversations, link: organization_stencil_conversations_path(@organization, stencil), if: can?(:show, Conversation) } |
              ], {class: 'btn-mini'}) |
            %td= link_to_if can?(:show, stencil), stencil.label, [ @organization, stencil ]
            %td
              - if stencil.phone_book.nil?
                %em No book assigned
              - else
                = link_to_if can?(:show, stencil.phone_book), stencil.phone_book.label, [ @organization, stencil.phone_book ]
            %td= icon( stencil.active ? :ok : :remove )
            %td
              %small
                - if stencil.description.blank?
                  %em No description defined.
                - else
                  = stencil.description
            %td= stencil.conversations.count
