.row
  .col-sm-5
    %h2 #{ icon(:details) } Details
    %dl
      %dt Name
      %dd= stencil.name
    %dl
      %dt Status
      %dd= stencil.status
    %h2 #{ icon(:info) } Description
    = stencil.description

  .col-sm-7
    %h2 Actions
    - %w( IfStartingClause IfResponseClause ).each do |if_clause_class|
      - if_clause_class = IfClauseDecorator.decorate( if_clause_class.constantize.new(parent: stencil.model) )
      = if_clause_class.new_with_modal(iconify(if_clause_class.name, :new))
      = if_clause_class.edit_modal

    = render(partial: 'if_clauses/if_clauses', object: stencil.if_clauses)