- available_icons = %w( rocket briefcase beaker beer bell anchor bolt briefcase bullhorn bullseye camera camera-retro coffee credit-card desktop envelope fire-extinguisher fire flag flag-alt flag-checkered food folder folder-open gamepad gift glass globe headphones heart inbox keyboard laptop leaf legal lemon lightbulb magic magnet microphone money music pencil picture plane print pushpin puzzle-piece road rocket shield shopping-cart signal sitemap star tablet tag ticket tint trophy truck umbrella wrench ambulance hospital medkit ).sort.uniq

= form_for( @organization, :html => { :class => 'general' } ) do |f|
  - if @organization.errors.any?
    .alert.alert-warning.alert-block.fade.in
      %h4
        Oops!
        = pluralize(@organization.errors.count, "error")
        stopped us from saving this organization
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li= msg

  %h3 Details
  .field
    = f.label :label
    .inputs= f.text_field :label

  .field
    = f.label :icon
    .inputs= f.select :icon, available_icons.map{ |x| [ x.humanize, x ] }

  .field
    = f.label :description
    .inputs= f.text_area :description, rows: 3

  - if @organization.billing_address or @organization.contact_address
    %h3
      VAT Details
      %small (optional)
    
    .field
      = f.label :vat_name, 'VAT Registered Name'
      .inputs= f.text_field :vat_name

    .field
      = f.label :vat_number, 'VAT Number'
      .inputs= f.text_field :vat_number


    %h3
      Billing Address
      %small(optional)

    .field
      = f.label :billing_first_name, 'Given Name'
      .inputs= f.text_field :billing_first_name

    .field
      = f.label :billing_last_name, 'Family Name'
      .inputs= f.text_field :billing_last_name

    .field
      = f.label :billing_email, 'Email'
      .inputs= f.text_field :billing_email
      
    .field
      = f.label :billing_work_phone, 'Work Phone'
      .inputs= f.text_field :billing_work_phone
      
    .field
      = f.label :billing_line1, 'Address <small>(Line 1)</small>'.html_safe
      .inputs= f.text_field :billing_line1
      
    .field
      = f.label :billing_line2, 'Address <small>(Line 2)</small>'.html_safe
      .inputs= f.text_field :billing_line2
      
    .field
      = f.label :billing_city, 'City'
      .inputs= f.text_field :billing_city
      
    .field
      = f.label :billing_region, 'State/Provinence'
      .inputs= f.text_field :billing_region
      
    .field
      = f.label :billing_postcode, 'Postal Code/ZIP'
      .inputs= f.text_field :billing_postcode
      
    .field
      = f.label :billing_country, 'Country'
      .inputs= f.country_select :billing_country, ['Canada', 'United Kingdom', 'United States'], include_blank: true
      
    .field
      .inputs
        = f.check_box :use_billing_as_contact_address
        = f.label :use_billing_as_contact_address, 'Use billing address as contact address'


    %h3
      Contact Address
      %small(optional)

    .field
      = f.label :contact_first_name, 'Given Name'
      .inputs= f.text_field :contact_first_name

    .field
      = f.label :contact_last_name, 'Family Name'
      .inputs= f.text_field :contact_last_name

    .field
      = f.label :contact_email, 'Email'
      .inputs= f.text_field :contact_email
      
    .field
      = f.label :contact_work_phone, 'Work Phone'
      .inputs= f.text_field :contact_work_phone
      
    .field
      = f.label :contact_line1, 'Address <small>(Line 1)</small>'.html_safe
      .inputs= f.text_field :contact_line1
      
    .field
      = f.label :contact_line2, 'Address <small>(Line 2)</small>'.html_safe
      .inputs= f.text_field :contact_line2
      
    .field
      = f.label :contact_city, 'City'
      .inputs= f.text_field :contact_city
      
    .field
      = f.label :contact_region, 'State/Provinence'
      .inputs= f.text_field :contact_region
      
    .field
      = f.label :contact_postcode, 'Postal Code/ZIP'
      .inputs= f.text_field :contact_postcode
      
    .field
      = f.label :contact_country, 'Country'
      .inputs= f.country_select :contact_country, ['Canada', 'United Kingdom', 'United States'], include_blank: true
        
  .field
    .actions
      = f.submit
      = link_to 'Discard changes', @organization, class: 'cancel'