.actions
  -# If can view all phone books
  - if can?(:index, PhoneBook)
    = link_to iconify('Organizations', :organizations), organizations_path()

  -# If no organization present, allow creating a new one
  - if can?(:new, Organization) && !@organization.present?
    = link_to iconify('Add organization', :plus), new_organization_path()
    
- if @organization.try(:persisted?)
  .actions
    -# Allow viewing
    - if can?(:show, @organization)
      = link_to iconify('Details', :show), @organization
      
    -# Allow editing
    - if can?(:edit, @organization)
      = link_to iconify('Edit', :edit), edit_organization_path(@organization)
  
    -# Allow deleting
    - if can?(:destroy, @organization)
      = link_to iconify('Delete', :delete), '#delete_organization_modal', class: 'delete', 'data-toggle' => 'modal'
      = render partial: 'delete_modal'

- if @organization.try(:persisted?)
  .related
    %span.tag Related
    = link_to icon(:conversations),  organization_conversations_path(@organization)  if can?(:index, Conversation)
    = link_to icon(:stencils),       organization_stencils_path(@organization)       if can?(:index, Stencil)
    = link_to icon(:phone_books),    organization_phone_books_path(@organization)    if can?(:index, PhoneBook)
    = link_to icon(:phone_numbers),  organization_phone_numbers_path(@organization)  if can?(:index, PhoneNumber)
    = link_to icon(:invoices),       organization_invoices_path(@organization)       if can?(:index, Invoice) and current_user.is_billing_liaison_for?(@organization)
    = link_to icon(:users),          organization_users_path(@organization)          if can?(:index, User) and current_user.is_organization_administrator_for?(@organization)
