-# Page header
- headings( 'Organizations', 'all organizations', :organizations )
- breadcrumb :root

/ Page body
%table.list
  %thead
    %tr
      %th.controls
      %th Name
      %th Status
      %th Plan
      %th.text-right Balance
      %th.text-center
        %span{ rel: 'tooltip', :title => 'Conversations (Active / Today)' }
          = icon(:conversations)
      %th.text-center
        %span{ rel: 'tooltip', :title => 'Stencils' }
          = icon(:stencils)
      %th.text-center
        %span{ rel: 'tooltip', :title => 'Phone Books' }
          = icon(:phone_books)
      %th.text-center
        %span{ rel: 'tooltip', :title => 'Phone Numbers' }
          = icon(:phone_numbers)
      %th.text-center
        %span{ rel: 'tooltip', :title => 'Users' }
          = icon(:users)
  %tbody
    - @organizations.each do |organization|
      %tr
        %td
          = split_dropdown_list([ |
            { label: 'Details', icon: :show, link: organization, if: can?(:show, organization) }, |
            { label: 'Edit', icon: :edit, link: edit_organization_path(organization), if: can?(:edit, organization) }, |
            { label: 'Delete', icon: :delete, link: organization, options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:delete, organization) } |
            ], {class: 'btn-xs'} ) |
        %td
          = link_to organization do
            = icon(organization.icon || :organizations )
            = organization.label
        %td #{ organization.workflow_state.titleize rescue 'TODO' }
        %td #{organization.account_plan.label}
        %td.text-right= currency_for( organization.balance )
        %td.text-center
          = link_to [organization, :conversations] do
            = icon(:conversations)
            = organization.conversations.today.opened.count
            \/
            = organization.conversations.today.count
        %td.text-center= link_to iconify(organization.stencils.count, :stencils), [organization, :stencils]
        %td.text-center= link_to iconify(organization.phone_books.count, :phone_books), [organization, :phone_books]
        %td.text-center= link_to iconify(organization.phone_numbers.count, :phone_numbers), [organization, :phone_numbers]
        %td.text-center= link_to iconify(organization.users.count, :users), [organization, :users]

= paginate @organizations, theme: 'twitter-bootstrap-3'