- content_for :title, "#{@organization.label} Organization"
- content_for :page_title, 'Organization'
- content_for :page_subtitle, @organization.label
- content_for :page_icon, :organizations

/ Page body
.row
  .span3
    = render :partial => 'navlist'
  .span9
    %ul.thumbnails
      / Current Balance
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @organization.balance
          %p.information-label Current credits
      / Balance Used Today
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @organization.ledger_entries.today.sum(:value)
          %p.information-label Used today
      / Balance Used Today
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @organization.ledger_entries.yesterday.sum(:value)
          %p.information-label Used yesterday
      / Open Conversations
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @organization.conversations.today.opened.count
          %p.information-label Open conversations
      / Conversations Today
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @organization.conversations.today.count
          %p.information-label Conversations today
      / Conversations Yesterday
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @organization.conversations.yesterday.count
          %p.information-label Conversations yesterday
      / Organization Plan
      /
        %li.span3
          .thumbnail.tile
            %p.information= @organization.account_plan.label
            %p.information-label Plan
    
    %h4 Conversation breakdown
    %div.tabbable    
      %ul.nav.nav-pills
        %li.active= link_to 'today', '#today', {'data-toggle'=>'pill'}
        %li= link_to 'yesterday', '#yesterday', {'data-toggle'=>'pill'}
        %li= link_to 'last 7 days', '#lastweek', {'data-toggle'=>'pill'}
      %div.tab-content.fade.in
        %div#today.tab-pane.fade.in.active= conversation_status_breakdown( @organization.conversations.today.count_by_status )
        %div#yesterday.tab-pane.fade= conversation_status_breakdown( @organization.conversations.yesterday.count_by_status )
        %div#lastweek.tab-pane.fade= conversation_status_breakdown( @organization.conversations.last_x_days.count_by_status )
    
    %h4 Tokens
    %p Tokens are used to authenticate with the SignalCloud API.
    %table.table
      %thead
        %tr
          %th Provider
          %th SID
          %th Token
      %tbody
        %tr
          %td SignalCloud
          %td= @organization.sid
          %td= @organization.auth_token
        - if current_user.system_admin?
          %tr
            %td Braintree
            %td= @organization.braintree_id
            %td
              %i None
          %tr
            %td Freshbooks
            %td= @organization.freshbooks_id
            %td
              %i None
          %tr
            %td Twilio
            %td= @organization.twilio_account_sid
            %td= @organization.twilio_auth_token
