<p id="notice"><%= notice %></p>

<p>
  <b>Narrative:</b>
  <%= @transaction.narrative %>
</p>

<p>
  <b>Value:</b>
  <%= @transaction.value %>
</p>

<p>
  <b>Item:</b>
  <%= @transaction.item %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
