- if content_for? :heading
  / Page Header
  .page-header
    %h1
      - if content_for? :heading_icon
        = icon(content_for :heading_icon)
      = content_for :heading
      - if content_for? :subheading
        %small= content_for :subheading

/ Breadcrumbs
#breadcrumbs= breadcrumbs style: :bootstrap
    
- if lookup_context.template_exists?("toolbar", controller._prefixes, true)
  / Toolbar
  .toolbar= render partial: 'toolbar'