/ Primary navigation
- unless @organization.nil? || @organization.new_record?
  %ul.nav.navbar-nav.tiles
    %li.dashboards{ class: (yield(:page_section) == 'dashboards' ? 'active' : '') }
      = link_to icon( :dashboard, class: 'fa-3x' ), organization_path(@organization)

    - if can? :index, Conversation
      %li.conversations{ class: (yield(:page_section) == 'conversations' ? 'active' : '') }
        = link_to icon( :conversations, class: 'fa-3x' ), organization_conversations_path(@organization)

    - if can? :index, Stencil
      %li.stencils{ class: (yield(:page_section) == 'stencils' ? 'active' : '') }
        = link_to icon( :stencils, class: 'fa-3x' ), organization_stencils_path(@organization)

    - if can? :index, PhoneBook
      %li.phone_books{ class: (yield(:page_section) == 'phone_books' ? 'active' : '') }
        = link_to icon( :phone_books, class: 'fa-3x' ), organization_phone_books_path(@organization)

    - if can? :index, PhoneNumber
      %li.phone_numbers{ class: (yield(:page_section) == 'phone_numbers' ? 'active' : '') }
        = link_to icon( :phone_numbers, class: 'fa-3x' ), organization_phone_numbers_path(@organization)

    - if can?(:index, LedgerEntry) and current_user.is_billing_liaison_for?(@organization)
      %li.ledger_entries{ class: (yield(:page_section) == 'ledger_entries' ? 'active' : '') }
        = link_to icon( :ledger_entries, class: 'fa-3x' ), organization_ledger_entries_path(@organization)

    - if can?(:index, User) and current_user.is_organization_administrator_for?(@organization)
      %li.users{ class: (yield(:page_section) == 'users' ? 'active' : '') }
        = link_to icon( :users, class: 'fa-3x' ), organization_users_path(@organization)


/ Right navigation
%ul.nav.navbar-nav.navbar-right.tiles
  / User details
  - if can?(:edit, current_user) || can?(:change_password, current_user)
    %li
      = link_to current_user do
        = gravatar_for current_user, 60, class: 'img-circle'
  - if can?(:edit, current_user) || can?(:change_password, current_user)
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#" }
        = icon( :wrench )
        %span.label Options
        %b.caret
      %ul.dropdown-menu
        - if can? :edit, current_user
          %li
            = link_to current_user do
              = icon( :user )
              Change profile
        - if can? :change_password, current_user
          %li
            = link_to edit_user_registration_path do
              = icon( :key )
              Change password
  
  / Sign-out
  %li= link_to icon( 'sign-out', class: 'fa-3x' ), destroy_user_session_path, :method => :delete
