- cache [current_user, @team] do
  .container
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          - if signed_in?
            %button.navbar-toggle.collapsed{"data-target" => "#collapsable", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          %a.navbar-brand{:href => root_path} Signalcloud
    
        - if signed_in?
          #collapsable.collapse.navbar-collapse
            %ul.nav.navbar-nav
              = navbar_link teams_path, 'Teams', :teams
              
              - if @team && !@team.new_record?
                - membership = current_user.membership_for(@team)
                
                = navbar_link @team, team.name, :team

                - if membership.conversation_manager?
                  = navbar_link [@team, :conversations], 'Conversations', :conversations

                - if membership.developer?
                  = navbar_link [@team, :phone_numbers], 'Phone Numbers', :phone_numbers
                  = navbar_link [@team, :stencils],      'Stencils',      :stencils
                  = navbar_link [@team, :phone_books],   'Phone Books',   :phone_books
                
                - if membership.billing_liaison?
                  = navbar_link [@team, :invoices],      'Invoices',      :invoices
                  = navbar_link [@team, :journals],      'Journals',      :journals

            %form.navbar-form.navbar-left{:role => "search"}
              .form-group
                %input.form-control{:placeholder => "Search", :type => "text"}/
              %button.btn.btn-default{:type => "submit"} Search
    
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  = subnavbar_link current_user, 'Profile', :user
                  = subnavbar_link [:edit, current_user], 'Edit'
                  %li.divider
                  %li= link_to(iconify('Sign out', 'sign-out'), destroy_user_session_path, method: :delete)
