%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid

    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to icon('map-marker', class: 'fa-3x').html_safe, root_url, { class: 'navbar-brand' }

    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      = render 'navigation_signed_in' if user_signed_in?
      = render 'navigation_signed_out' unless user_signed_in?

    -#
      %ul.nav.navbar-nav.tiles
        %li.active
          %a{href: "#"} Link
        %li
          %a{href: "#"} Link
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li
              %a{href: "#"} Action
            %li
              %a{href: "#"} Another action
            %li
              %a{href: "#"} Something else here
            %li.divider
            %li
              %a{href: "#"} Separated link
            %li.divider
            %li
              %a{href: "#"} One more separated link

      %ul.nav.navbar-nav.navbar-right.tiles
        %li
          %a{href: "#"} Link
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li
              %a{href: "#"} Action
            %li
              %a{href: "#"} Another action
            %li
              %a{href: "#"} Something else here
            %li.divider
            %li
              %a{href: "#"} Separated link


-#
  #brand
    %p= link_to 'SignalCloud', '/'
  
  #navigation
    = render 'navigation_signed_in' if user_signed_in?
    = render 'navigation_signed_out' unless user_signed_in?

-#
  .navbar>
    .navbar-inner
      %a.brand{:href => "/"}
        / %i.icon-cloud
        SignalCloud
      - unless user_signed_in?
        %ul.nav
          %li{ :class => ( request.path == new_user_session_path ? 'active' : '' ) }
            = link_to new_user_session_path do
              %i.icon-signin
              Sign In
          -if devise_mapping.registerable? and ALLOW_USER_REGISTRATION
            %li{ :class => ( request.path == new_user_registration_path ? 'active' : '' ) }
              = link_to new_user_registration_path do
                %i.icon-upload-alt
                Sign Up
      - else
        - unless @organization.nil? || @organization.new_record?
          %ul.nav
            %li{ rel: 'tooltip', :title => 'Dashboard', :'data-placement' => 'bottom', class: (yield(:page_section) == 'dashboards' ? 'active' : '') }
              %a.dashboards{ :href => organization_path(@organization) }
                %i.icon-dashboard
            - if can? :index, Conversation
              %li{ rel: 'tooltip', :title => 'Conversations', :'data-placement' => 'bottom', class: (yield(:page_section) == 'conversations' ? 'active' : '') }
                %a.conversations{ :href => organization_conversations_path(@organization) }= icon( :conversations )
            - if can? :index, Stencil
              %li{ rel: 'tooltip', :title => 'Stencils', :'data-placement' => 'bottom', class: (yield(:page_section) == 'stencils' ? 'active' : '') }
                %a.stencils{ :href => organization_stencils_path(@organization) }= icon( :stencils )
            - if can? :index, PhoneBook
              %li{ rel: 'tooltip', :title => 'Phone Books', :'data-placement' => 'bottom', class: (yield(:page_section) == 'phone_books' ? 'active' : '') }
                %a.phone_books{ :href => organization_phone_books_path(@organization) }= icon( :phone_books )
            - if can? :index, PhoneNumber
              %li{ rel: 'tooltip', :title => 'Phone Numbers', :'data-placement' => 'bottom', class: (yield(:page_section) == 'phone_numbers' ? 'active' : '') }
                %a.phone_numbers{ :href => organization_phone_numbers_path(@organization) }= icon( :phone_numbers )
            - if can?(:index, LedgerEntry) and current_user.is_billing_liaison_for?(@organization)
              %li{ rel: 'tooltip', :title => 'Ledger', :'data-placement' => 'bottom', class: (yield(:page_section) == 'ledger_entries' ? 'active' : '') }
                %a.ledger_entries{ :href => organization_ledger_entries_path(@organization) }= icon( :ledger_entries )
            - if can?(:index, User) and current_user.is_organization_administrator_for?(@organization)
              %li{ rel: 'tooltip', :title => 'Users', :'data-placement' => 'bottom', class: (yield(:page_section) == 'users' ? 'active' : '') }
                %a.users{ :href => organization_users_path(@organization) }= icon( :users )
  
        %ul.nav.pull-right
          - if @organization
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = icon( @organization.icon || :organizations )
                = @organization.label
                %b.caret
              %ul.dropdown-menu
                - if can? :shadow, Organization
                  %li
                    = link_to organizations_path do
                      = icon( :exchange )
                      Switch organizations
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", style: 'padding-left: 40px' }
              = gravatar_for current_user, 30, { style: 'position: absolute; top: 5px; left: 5px; background-color: yellow;' }
              = current_user.nickname
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to current_user do
                  %i.icon-cogs
                  Change profile
              - if can? :change_password, current_user
                %li
                  = link_to edit_user_registration_path do
                    %i.icon-key
                    Change password
              %li
                = link_to destroy_user_session_path, :method => :delete do
                  %i.icon-off
                  Sign out
