/ Dropdown list
- raise 'Oops! Split Dropdown was not an array' unless splitdropdown.is_a? Array
- default_options = { 'tabindex' => "-1" }
- default_first_options = { class: ['btn', 'btn-default', options.fetch(:class,'btn-sm')] }
- unless splitdropdown.empty?
  .btn-group.btn-group-xs
    = link_to splitdropdown.first[:link], default_first_options.merge( splitdropdown.first.fetch(:options, {}) ) do
      = splitdropdown.first.include?(:icon) ? icon( splitdropdown.first[:icon] ) : 'Manage'
    %button.btn.btn-default.btn-sm.dropdown-toggle{ class: options.fetch(:class,'btn-sm'), "data-toggle" => "dropdown" }
      %span.caret
    %ul.dropdown-menu
      - splitdropdown.each do |entry|
        - entry_class = entry.fetch( :active, false ) ? 'active' : ''  # Decide if this is the 'active' entry
        - options = default_options.merge entry.fetch(:options, {})    # Build a set of options for the link_to field
        %li{ 'class' => entry_class }
          = link_to entry[:link], options do
            - if entry.include? :icon
              = icon( entry[:icon] )
            = entry[:label]
