!!!
%html
  %head
    %title= @page_title || 'ticketplease'
    = stylesheet_link_tag    "application", :media => "all"
    - if content_for?( :stylesheets )
      %style{:type => 'text/css'}= yield :stylesheets
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    / Navigation header
    .navbar>
      .navbar-inner
        %a.brand{:href => "/"} ticketplease
        %ul.nav
          %li
            %a{ :href => "/" }
              %i.icon-dashboard  
              Dashboard
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-briefcase
              Manage
              %b.caret
            %ul.dropdown-menu
              %li
                %a{ :href => appliances_path() }
                  %i.icon-hdd
                  Appliances
              %li
                %a{ :href => phone_directories_path() }
                  %i.icon-book
                  Directories
              %li
                %a{ :href => phone_numbers_path() }
                  %i.icon-phone
                  Phone Numbers
          %li
            %a{ :href => "#" }
              %i.icon-bar-chart  
              Reports
          %li
            %a{ :href => "#" }
              %i.icon-cogs  
              Settings
          %li
            %a{:href => "#"}
              %i.icon-signout  
              Sign out
        = form_tag tickets_path(), :controller => 'tickets', :action => 'index', :method => 'get', :class => 'navbar-search pull-right' do
          = text_field_tag :search, params[:search], class: 'search-query', placeholder: 'Search Tickets'

    / Body
    .container
      -# Flash errors, alerts, and notices
      = render 'layouts/messages'
      = yield

    / Footer
    .container
      .small Footer details here