!!!
%html
  %head
    %title
      = yield(:title)
      = ' — ' if content_for?(:title)
      SignalCloud
    = stylesheet_link_tag "application", :media => "all"
    - if content_for?( :stylesheets )
      %style{:type => 'text/css'}= yield :stylesheets
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: yield(:page_section) }
    .container
      / Navigation header
      .navbar>
        .navbar-inner
          %a.brand{:href => "/"}
            / %i.icon-cloud
            SignalCloud
          - unless user_signed_in?
            %ul.nav
              %li{ :class => ( request.path == new_user_session_path ? 'active' : '' ) }
                = link_to new_user_session_path do
                  %i.icon-signin
                  Sign In
              -if devise_mapping.registerable?
                %li{ :class => ( request.path == new_user_registration_path ? 'active' : '' ) }
                  = link_to new_user_registration_path do
                    %i.icon-upload-alt
                    Sign Up
          - else
            - unless @organization.nil? || @organization.new_record?
              %ul.nav
                %li{ rel: 'tooltip', :title => 'Dashboard', :'data-placement' => 'bottom', class: (yield(:page_section) == 'dashboards' ? 'active' : '') }
                  %a.dashboards{ :href => organization_path(@organization) }
                    %i.icon-dashboard
                - if can? :index, Conversation
                  %li{ rel: 'tooltip', :title => 'Conversations', :'data-placement' => 'bottom', class: (yield(:page_section) == 'conversations' ? 'active' : '') }
                    %a.conversations{ :href => organization_conversations_path(@organization) }= icon( :conversations )
                - if can? :index, Stencil
                  %li{ rel: 'tooltip', :title => 'Stencils', :'data-placement' => 'bottom', class: (yield(:page_section) == 'stencils' ? 'active' : '') }
                    %a.stencils{ :href => organization_stencils_path(@organization) }= icon( :stencils )
                - if can? :index, PhoneBook
                  %li{ rel: 'tooltip', :title => 'Phone Books', :'data-placement' => 'bottom', class: (yield(:page_section) == 'phone_books' ? 'active' : '') }
                    %a.phone_books{ :href => organization_phone_books_path(@organization) }= icon( :phone_books )
                - if can? :index, PhoneNumber
                  %li{ rel: 'tooltip', :title => 'Phone Numbers', :'data-placement' => 'bottom', class: (yield(:page_section) == 'phone_numbers' ? 'active' : '') }
                    %a.phone_numbers{ :href => organization_phone_numbers_path(@organization) }= icon( :phone_numbers )
                - if can?(:index, LedgerEntry) and current_user.is_billing_liaison_for?(@organization)
                  %li{ rel: 'tooltip', :title => 'Ledger', :'data-placement' => 'bottom', class: (yield(:page_section) == 'ledger_entries' ? 'active' : '') }
                    %a.ledger_entries{ :href => organization_ledger_entries_path(@organization) }= icon( :ledger_entries )
                - if can?(:index, User) and current_user.is_organization_administrator_for?(@organization)
                  %li{ rel: 'tooltip', :title => 'Users', :'data-placement' => 'bottom', class: (yield(:page_section) == 'users' ? 'active' : '') }
                    %a.users{ :href => organization_users_path(@organization) }= icon( :users )

            %ul.nav.pull-right
              - if @organization
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    = icon( @organization.icon || :organizations )
                    = @organization.label
                    %b.caret
                  %ul.dropdown-menu
                    - if can? :shadow, Organization
                      %li
                        = link_to organizations_path do
                          = icon( :exchange )
                          Switch organizations
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", style: 'padding-left: 40px' }
                  = gravatar_for current_user, 30, { style: 'position: absolute; top: 5px; left: 5px; background-color: yellow;' }
                  = current_user.nickname
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to current_user do
                      %i.icon-cogs
                      Change profile
                  - if can? :change_password, current_user
                    %li
                      = link_to edit_user_registration_path do
                        %i.icon-key
                        Change password
                  %li
                    = link_to destroy_user_session_path, :method => :delete do
                      %i.icon-off
                      Sign out
  
      / Body
      -#
        - if @organization
          .row.tiles
            .span1
              = link_to organization_conversations_path( @organization ), class: 'tile conversations' do
                = icon( :conversations )
              = link_to organization_phone_books_path( @organization ), class: 'tile phone_books' do
                = icon( :phone_books )
          
      = render 'layouts/header'
      = render 'layouts/messages'
      = yield
  
      / Footer
      .row
        .span12
          %hr
      .row
        .span6
          %p
            %small
              Copyright &copy; 2012-2013
              =link_to 'SignalCloud, llc.', 'http://www.signalcloudapp.com'
              =link_to 'Contact us.', 'mailto:hello@signalcloudapp.com'
        .span6
          %p{style:'text-align:right'}
            %small (#{Rails.env})
