!!!
%html
  %head
    %title
      = yield(:title)
      = ' — ' if content_for?(:title)
      SignalCloud
    = stylesheet_link_tag "application", :media => "all"
    - if content_for?( :stylesheets )
      %style{:type => 'text/css'}= yield :stylesheets
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      / Navigation header
      .navbar>
        .navbar-inner
          %a.brand{:href => "/"}
            %i.icon-cloud
            SignalCloud
          - unless user_signed_in?
            %ul.nav
              %li{ :class => ( request.path == new_user_session_path ? 'active' : '' ) }
                = link_to new_user_session_path do
                  %i.icon-signin
                  Sign In
              -if devise_mapping.registerable?
                %li{ :class => ( request.path == new_user_registration_path ? 'active' : '' ) }
                  = link_to new_user_registration_path do
                    %i.icon-upload-alt
                    Sign Up
          - else
            %ul.nav
              %li
                %a{ :href => "/" }
                  %i.icon-dashboard  
                  Dashboard
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-briefcase
                  Manage
                  %b.caret
                %ul.dropdown-menu
                  - if can? :index, User
                    %li
                      %a{ :href => users_path }
                        = icon(:users)
                        Users
                  - if can? :index, Stencil
                    %li
                      %a{ :href => stencils_path }
                        = icon( :stencils )
                        Stencils
                  - if can? :index, PhoneDirectory
                    %li
                      %a{ :href => phone_directories_path }
                        = icon( :phone_directories )
                        Directories
                  - if can? :index, PhoneNumber
                    %li
                      %a{ :href => phone_numbers_path }
                        = icon( :phone_numbers )
                        Phone Numbers
                  - if can? :index, Ticket
                    %li
                      %a{ :href => tickets_path }
                        = icon( :tickets )
                        Tickets
                  - if can? :index, LedgerEntry
                    %li
                      %a{ :href => ledger_entries_path }
                        = icon( :ledger_entries )
                        Ledger
              %li
                %a{ :href => "#" }
                  %i.icon-bar-chart  
                  Reports
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-user
                  = current_user.first_name
                  %b.caret
                %ul.dropdown-menu
                  - if can? :shadow, Account
                    %li
                      = link_to accounts_path do
                        = icon( :accounts )
                        Switch accounts
                  %li
                    = link_to edit_user_registration_path do
                      %i.icon-key
                      Change password
                  %li
                    = link_to current_user do
                      %i.icon-cogs
                      Preferences
                  %li
                    = link_to destroy_user_session_path, :method => :delete do
                      %i.icon-off
                      Sign out
            = form_tag tickets_path, :method => 'get', :class => 'navbar-search pull-right' do
              = text_field_tag :search, params[:search], class: 'search-query', placeholder: 'Search Tickets'
  
      / Body
      = render 'layouts/messages'
      = render 'layouts/header'
      = yield
  
      / Footer
      .row
        .span12
          %hr
      .row
        .span6
          %p
            %small
              Copyright &copy; 2012-2013
              =link_to 'SignalCloud, llc.', 'http://www.signalcloudapp.com'
              =link_to 'Contact us.', 'mailto:hello@signalcloudapp.com'
        .span6
          %p{style:'text-align:right'}
            %small (#{Rails.env})
