!!!
%html
  %head
    %title
      = yield(:title)
      = ' — ' if content_for?(:title)
      SignalCloud
    = stylesheet_link_tag "application", :media => "all"
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{ id: yield(:page_section) }
    / Navigation
    #header
      .row= render 'navigation'
  
    / Body
    #main
      .row
        #content
          = render 'header'
          = render 'messages'
          = yield
  
        #sidebar
          = render 'sidebar_top'
          = yield(:sidebar) if content_for?(:sidebar)
          = render 'sidebar_calendar'
          = render 'sidebar_notices'

    / Footer
    #footer
      .row= render 'footer'
