!!!
%html
  %head
    %title
      = yield(:title)
      = ' — ' if content_for?(:title)
      SignalCloud
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css", rel: "stylesheet"}/
    = csrf_meta_tags
    = viewport_meta_tag(:maximum_scale => "1.0")

  %body{ id: yield(:page_section) }
  
    %nav#navbar
      .header= render partial: 'navbar'

    - if @organization && @organization.trial? && @organization.persisted?
      = render partial: 'trial_banner'

    .content
      = render partial: 'heading'
      = render partial: 'flash'
      = yield

    .footer= render 'footer'
