!!!
%html
  %head
    %title
      - if content_for? :title
        yield(:title)
        \ -
      Signalcloud
    - cache do
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      = stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'navbar'
    = render 'header'
    = render 'alerts'
    .container= yield