/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :accounts )
        Accounts
        %small all accounts

/ Page body
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th Label
          %th Plan
          %th Balance
          %th Users
          %th Conversations
          %th Has Twilio?
          %th
      %tbody
        - @accounts.each do |account|
          %tr
            %td= link_to account.label, shadow_account_path(account)
            %td= account.account_plan.label
            %td{'align'=>'right'}
              %small US
              = '$%0.4f' % account.balance
            %td{'align'=>'right'}= account.users.count
            %td{'align'=>'right'}= account.conversations.count
            %td= ( !account.twilio_account_sid.nil? && !account.twilio_auth_token.nil? ) ? 'Yes' : 'No'
            %td
              = dropdown_list( 'Manage', [ |
                { label: 'Details', icon: :show, link: account }, |
                { label: 'Edit', icon: :edit, link: edit_account_path(account) }, |
                { label: 'Delete', icon: :delete, link: account, options: { method: :delete, data: { confirm: 'Are you sure?' } } } |
              ]) |

    %div= link_to 'New Account', new_account_path, :class => 'btn btn-success'
