/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :accounts )
        Accounts
        %small= @account.label

/ Page body
.row
  .span3
    = render :partial => 'navlist'
  .span9
    %ul.thumbnails
      / Current Balance
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @account.balance
          %p.information-label Current credits
      / Balance Used Today
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @account.ledger_entries.today.sum(:value)
          %p.information-label Used today
      / Balance Used Today
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @account.ledger_entries.yesterday.sum(:value)
          %p.information-label Used yesterday
      / Open Tickets
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @account.tickets.today.opened.count
          %p.information-label Open tickets
      / Tickets Today
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @account.tickets.today.count
          %p.information-label Tickets today
      / Tickets Yesterday
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @account.tickets.yesterday.count
          %p.information-label Tickets yesterday
      / Account Plan
      %li.span3
        .thumbnail.tile
          %p.information= @account.account_plan.label
          %p.information-label Plan
    
    %h4 ticket breakdown
    - statistics = @account.ticket_statistics
    .progress
      .bar.bar-info{ :style => "width: #{statistics[:queued]}%", rel: 'tooltip', title: 'Queued: %0.0f%%' % statistics[:queued] }
      .bar{ :style => "width: #{statistics[:sent]}%", rel: 'tooltip', title: 'Sent: %0.0f%%' % statistics[:sent] }
      .bar.bar-success{ :style => "width: #{statistics[:confirmed]}%", rel: 'tooltip', title: 'Confirmed: %0.0f%%' % statistics[:confirmed] }
      .bar.bar-warning{ :style => "width: #{statistics[:expired]}%", rel: 'tooltip', title: 'Expired: %0.0f%%' % statistics[:expired] }
      .bar.bar-lightdanger{ :style => "width: #{statistics[:failed]}%", rel: 'tooltip', title: 'Failed: %0.0f%%' % statistics[:failed] }
      .bar.bar-danger{ :style => "width: #{statistics[:denied]}%", rel: 'tooltip', title: 'Denied: %0.0f%%' % statistics[:denied] }

    %h4 tokens
    %p Tokens are used to authenticate with the ticketplease API.
    %table.table
      %thead
        %tr
          %th Provider
          %th SID
          %th Token
      %tbody
        / production
        %tr
          %td ticketplease
          %td= @account.account_sid
          %td= @account.auth_token
        / Twilio
        -# TODO Remove this section from general view!
        %tr
          %td Twilio
          %td= @account.twilio_account_sid
          %td= @account.twilio_auth_token

    = link_to 'Edit', edit_account_path(@account)
    |
    \#{link_to 'Back', accounts_path}