/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :accounts )
        Accounts
        %small= @account.label

/ Page body
.row
  .span3
    = render :partial => 'navlist'
  .span9
    %ul.thumbnails
      / Account Plan
      %li.span4
        .thumbnail
          %p
            %b Plan:
            = @account.account_plan.label
      / Current Balance
      %li.span4
        .thumbnail
          %p
            %b Current credits:
            = "%0.4f" % @account.balance
      / Balance Used Today
      %li.span4
        .thumbnail
          %p
            %b Used today:
            = "%0.4f" % -99.99
      / Tickets Yesterday
      %li.span4
        .thumbnail
          %p
            %b Tickets yesterday:
            = "%d" % @account.tickets.yesterday.count
      / Tickets Today
      %li.span4
        .thumbnail
          %p
            %b Tickets today:
            = "%d" % @account.tickets.today.count
      / Open Tickets
      %li.span4
        .thumbnail
          %p
            %b Open tickets:
            = "%i" % @account.tickets.opened.count

    %h3 tokens
    %table.table
      %thead
        %tr
          %th Provider
          %th SID
          %th Token
      %tbody
        / production
        %tr
          %td ticketplease
          %td= @account.account_sid
          %td= @account.auth_token
        / Twilio
        -# TODO Remove this section from general view!
        %tr
          %td Twilio
          %td= @account.twilio_account_sid
          %td= @account.twilio_auth_token

    = link_to 'Edit', edit_account_path(@account)
    |
    \#{link_to 'Back', accounts_path}