/ Page header
.row
  .span12
    .page-header
      %h1
        = icon( :accounts )
        Accounts
        %small= @account.label

/ Page body
.row
  .span3
    = render :partial => 'navlist'
  .span9
    %ul.thumbnails
      / Current Balance
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @account.balance
          %p.information-label Current credits
      / Balance Used Today
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @account.ledger_entries.today.sum(:value)
          %p.information-label Used today
      / Balance Used Today
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @account.ledger_entries.yesterday.sum(:value)
          %p.information-label Used yesterday
      / Open Tickets
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @account.tickets.today.opened.count
          %p.information-label Open tickets
      / Tickets Today
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @account.tickets.today.count
          %p.information-label Tickets today
      / Tickets Yesterday
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @account.tickets.yesterday.count
          %p.information-label Tickets yesterday
      / Account Plan
      /
        %li.span3
          .thumbnail.tile
            %p.information= @account.account_plan.label
            %p.information-label Plan
    
    %h4 ticket breakdown
    %div.tabbable    
      %ul.nav.nav-pills
        %li.active= link_to 'today', '#today', {'data-toggle'=>'pill'}
        %li= link_to 'yesterday', '#yesterday', {'data-toggle'=>'pill'}
        %li= link_to 'last 7 days', '#lastweek', {'data-toggle'=>'pill'}
      %div.tab-content.fade.in
        %div#today.tab-pane.fade.in.active= ticket_status_breakdown( @account.tickets.today.count_by_status )
        %div#yesterday.tab-pane.fade= ticket_status_breakdown( @account.tickets.yesterday.count_by_status )
        %div#lastweek.tab-pane.fade= ticket_status_breakdown( @account.tickets.last_x_days.count_by_status )
    
    %h4 tokens
    %p Tokens are used to authenticate with the ticketplease API.
    %table.table
      %thead
        %tr
          %th Provider
          %th SID
          %th Token
      %tbody
        / production
        %tr
          %td ticketplease
          %td= @account.account_sid
          %td= @account.auth_token
        / Twilio
        -# TODO Remove this section from general view!
        %tr
          %td Twilio
          %td= @account.twilio_account_sid
          %td= @account.twilio_auth_token
