- content_for :title, "#{@account.label} Account"
- content_for :page_title, 'Account'
- content_for :page_subtitle, @account.label
- content_for :page_icon, :accounts

/ Page body
.row
  .span3
    = render :partial => 'navlist'
  .span9
    %ul.thumbnails
      / Current Balance
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @account.balance
          %p.information-label Current credits
      / Balance Used Today
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @account.ledger_entries.today.sum(:value)
          %p.information-label Used today
      / Balance Used Today
      %li.span3
        .thumbnail.tile
          %p.information= "%0.2f" % @account.ledger_entries.yesterday.sum(:value)
          %p.information-label Used yesterday
      / Open Conversations
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @account.conversations.today.opened.count
          %p.information-label Open conversations
      / Conversations Today
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @account.conversations.today.count
          %p.information-label Conversations today
      / Conversations Yesterday
      %li.span3
        .thumbnail.tile
          %p.information= "%i" % @account.conversations.yesterday.count
          %p.information-label Conversations yesterday
      / Account Plan
      /
        %li.span3
          .thumbnail.tile
            %p.information= @account.account_plan.label
            %p.information-label Plan
    
    %h4 conversation breakdown
    %div.tabbable    
      %ul.nav.nav-pills
        %li.active= link_to 'today', '#today', {'data-toggle'=>'pill'}
        %li= link_to 'yesterday', '#yesterday', {'data-toggle'=>'pill'}
        %li= link_to 'last 7 days', '#lastweek', {'data-toggle'=>'pill'}
      %div.tab-content.fade.in
        %div#today.tab-pane.fade.in.active= conversation_status_breakdown( @account.conversations.today.count_by_status )
        %div#yesterday.tab-pane.fade= conversation_status_breakdown( @account.conversations.yesterday.count_by_status )
        %div#lastweek.tab-pane.fade= conversation_status_breakdown( @account.conversations.last_x_days.count_by_status )
    
    %h4 tokens
    %p Tokens are used to authenticate with the SignalCloud API.
    %table.table
      %thead
        %tr
          %th Provider
          %th SID
          %th Token
      %tbody
        / production
        %tr
          %td SignalCloud
          %td= @account.account_sid
          %td= @account.auth_token
        / Twilio
        -# TODO Remove this section from general view!
        %tr
          %td Twilio
          %td= @account.twilio_account_sid
          %td= @account.twilio_auth_token
