<p id="notice"><%= notice %></p>

<p>
  <b>Account token:</b>
  <%= @account.account_sid %>
</p>

<p>
  <b>Auth token:</b>
  <%= @account.auth_token %>
</p>

<p>
  <b>Label:</b>
  <%= @account.label %>
</p>

<p>
  <b>Balance:</b>
  <%= @account.balance %>
</p>

<p>
  <b>Account plan:</b>
  <%= @account.account_plan %>
</p>

<p>
  <b>Encrypted twilio account sid:</b>
  <%= @account.encrypted_twilio_account_sid %>
</p>

<p>
  <b>Encrypted twilio auth token:</b>
  <%= @account.encrypted_twilio_auth_token %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
